[2017-07-22 03:33] rithzcool commented on #346
@Amay-Mishra thank you! that was it. forgot that user roles aren't allowed to delete.

[2017-07-22 03:33] #346 closed

[2017-07-22 06:09] AbhishekBhattacharya commented on #358
@coco98  Yes, I am willing to work on it :)

[2017-07-22 12:12] Nix07 opened #361 "Link to full API documentation is invalid"
**Is this a BUG REPORT**:

/kind bug

Bug report
----------
The link on this page ( https://docs.hasura.io/0.6/ref/auth/how-it-works/basics.html# ) to the full API documentation is invalid. It's returning 404-Page not Found.
![screenshot 101](https://user-images.githubusercontent.com/22103406/28490992-127e7b78-6f05-11e7-99b0-001096488fb7.png)

[2017-07-22 14:21] vivekjib opened #362 "Make column and op entries stay even refresh"
Feature request
---------------

**What is the feature you would like to have?**

Data part has a good feature of instant column query. But, the entries in the fields get back to default when I come back to same page. It will be more good they stayed. Also help in fast debugging and development.

**Environment**:
- Hasura project type: (local)
- OS: (Ubuntu 17.04)
- Browser (Google Chrome Browser)

[2017-07-22 15:06] coco98 commented on #362
@vivekjib Thanks for the request :)
Just to be clear you're talking about the browse section right? Where you say column, operator and value and run a query?

[2017-07-22 16:10] shivamd20 opened #363 "Integrating other social logins manually"
@coco98  Sir, I want to integrate Facebook Account kit  Authentication to my app. Since no inbuilt support is there for Facebook Account kit i want to do it manually.

Will it work?

msg91 gives only 100 sms for development purpose, so that's too less for me.   Facebook Account kit is free till august 2018.

[2017-07-22 16:12] coco98 commented on #363
Oh god no!
Use the FB account kit to get the access token. Then make a request to the auth API to signup/login the user (it's the same API that will return new_user: true/false in the response).

Let me dig up the docs for you!

[2017-07-22 16:14] coco98 commented on #363
Check this out: https://docs.hasura.io/0.13/ref/hasura-microservices/auth/api.html
Search the page for /facebook/authenticate
Basically, make an API call to:`/facebook/authenticate?access_token=xxxx`

Login/registration and session handling will all be done in one shot.

Are you building a web app or an android app?

[2017-07-22 16:22] shivamd20 commented on #363
I am building an android app. Sir facebook login and facebook account kit are different. It is not necessary for a user to be a facebook user to use facebook account kit  but it's not true for facebook login.

 This endpoint will call the facebook login and  won't work for facebook account kit.
Is there any way by which i can do it?

[2017-07-22 16:25] shivamd20 commented on #363
I thought i can make it work by simply inserting session information and user information to the database.

[2017-07-22 17:12] vivekjib commented on #362
![screenshot from 2017-07-22 22-24-27](https://user-images.githubusercontent.com/11706579/28493148-d605927e-6f2e-11e7-807e-75abd9bb7804.png)

Yes, browse section.

[2017-07-22 19:00] coco98 opened #364 "Selecting external or internal endpoint should make it easy to select just the URL and not the label"
/kind bug

Currently:
<img width="739" alt="screen shot 2017-07-23 at 12 29 44 am" src="https://user-images.githubusercontent.com/131160/28493946-192ca1f0-6f3e-11e7-948a-a306a86d2f59.png">

Should be:
<img width="458" alt="screen shot 2017-07-23 at 12 30 02 am" src="https://user-images.githubusercontent.com/131160/28493948-1f8a0ed4-6f3e-11e7-93a6-ddd44033e59c.png">

[2017-07-22 19:17] coco98 commented on #363
@shivamd20 Ah! My bad. We will add an integration for facebook account kit so that it works directly with the auth APIs.

Meanwhile, there are two options:
1) Wait till we have account kit integration
2) Use the `/admin/create-session` API from your backend code

Here <domain> is the base domain of your hasura project, for example `something43.hasura-app.io` or `c100.hasura.me`:

**Step1: Create t

[2017-07-23 09:20] coco98 opened #365 "Docs redirects not working"
/kind bug

![whatsapp image 2017-07-23 at 2 47 59 pm](https://user-images.githubusercontent.com/131160/28498173-189dcaac-6fb6-11e7-80d1-e5b5387d9ac3.jpeg)

[2017-07-23 09:26] coco98 opened #366 "Add response types to the auth API reference"
https://docs.hasura.io/0.13/ref/hasura-microservices/auth/api.html

/kind bug

For example `GET /facebook/authenticate?access_token=xxx` shows us the API request, but not the API response.

We need to add API response schemas to all the types.

[2017-07-23 09:28] coco98 opened #367 "Auth APIs do not have in page links or permalinks"
/kind bug
Every API request should have a permalink (use sphinx headings)
https://docs.hasura.io/0.13/ref/hasura-microservices/auth/api.html

For example, I should be able to link to the API directly instead of going to the page and asking people to "find on page".

[2017-07-23 09:31] coco98 opened #368 "Add flow information to each of the auth providers in the reference docs"
/kind feature
Each of the auth providers should have clear documentation including a little flowchart that shows what the actual authentication process is.

I've had several discussions with folks on intercom etc. about how different flows work.

[2017-07-23 11:52] vivekjib commented on #362
One more thing related to this. See images column in above picture. The data is not fully visible. For start, it is okay. But that part should be either scrollable or can be stretchable. I forgot to mention it yesterday. I faced its requirement during my project.

[2017-07-24 15:50] AbhishekBhattacharya commented on #335
```beta.hasura.io``` has been updated as I recreated the project.

[2017-07-24 15:51] #335 closed

[2017-07-25 08:39] vivekjib opened #369 "Unnecessary column option "password" in console at "auth/manage/users""
In the console under the **auth**, there is unnecessary column option **password**. It should be removed. @praveenweb

[2017-07-25 08:45] praveenweb commented on #369
@vivekjib - Can you post a screenshot of where you are seeing the **password** option?

[2017-07-25 09:16] vivekjib commented on #369
![screenshot from 2017-07-25 14-39-33](https://user-images.githubusercontent.com/11706579/28564854-fca6a862-7147-11e7-884a-71c8f712304b.png)

At these red marks.

[2017-07-25 20:55] dsandip commented on #365
**Links from hasura.io/docs that do not work:**
1. https://hasura.io/_docs/auth/4.0
1. https://hasura.io/_docs/data/0.7
1. https://hasura.io/_docs/auth/3.0

@coco98 : What is the source of the link in the screenshot?

@karthikvt26 : Once you have these redirects in place, can you also change the docs link in the website. Also, is there any reason why we cannot have a broader redirect from https://

[2017-07-26 18:48] coco98 opened #370 "Release android starter-kit"
/kind howto

Release an android starter kit with ready made UI compoents and hasura/android-sdk integration.

- [x] Release starter-kit
- [ ] Release accompanying blog-post with screencast demo
- [x] Add detailed README to starter-kit

[2017-07-26 18:52] coco98 opened #371 "Add auth examples to hasura/js-sdk along with UI integrations"
1) All types of login:

1. Username/password
2. Recaptcha
3. Email verified
4. OTP verified
5. Social login (google, facebook)

2) Tutorial content
1. README
2. Blog/guide

[2017-07-26 18:53] coco98 opened #372 "Release iOS SDK with README"
Release iOS SDK with README and documentation

[2017-07-26 18:59] coco98 opened #373 "Angular & Ionic integrations with hasura/js-sdk"
/kind howto

Describe a sample integration of hasura/js-sdk for angular and ionic apps. Ideally, build a few compoents for:
1) Login
2) File upload

[2017-07-26 19:02] coco98 opened #374 "Architecture blog-post / reference"
/kind howto

Describe architecture of a hasura project in great detail. Publish as blog post or as a reference.

[2017-07-26 19:49] coco98 opened #375 "Laravel PHP full guide"
/kind howto

Should cover:
- Setting up environment
- Setting up a new project
- Deploying hello world
- Connecting to the database during local development
- Deploying (run migration + deploy)
- Add to quickstart-docker-git

[2017-07-26 19:51] coco98 opened #376 "Django deployment full guide"
/kind feature

Should cover:
- Setting up environment
- Setting up a new project
- Deploying hello world
- Connecting to the database during local development
- Deploying (run migration + deploy)
- Add to quickstart-docker-git

[2017-07-26 19:52] coco98 opened #377 "Express deployment guide"
/kind feature

Should cover:
- Setting up environment
- Local development with hasura data APIs
- Deployment

[2017-07-27 10:31] karthikvt26 opened #378 "Padding issue in the create table page on the new console"
/kind bug

![add-table](https://user-images.githubusercontent.com/25095884/28666399-cb75388c-72e4-11e7-908e-4e121ae02f71.png)

@ecthiender @praveenweb

[2017-07-27 12:15] karthikvt26 commented on #365
Hey, we have updated the website and made docs link to docs.hasura.io.

[2017-07-27 12:15] #365 closed

[2017-07-27 22:14] #375 closed

[2017-07-28 02:52] rishavanand opened #379 "Duplicate hasura.io accounts"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
duplicate user, new ui, duplicate email

**What happened**:
While signing in to https://dashboard.hasura.io I forgot my account's password. So I used gmail instead to login. After logging in I found that no Public URL was added to my local development page but I was sure that I

[2017-07-28 14:30] jaisontj commented on #354
@shivamd20 The issue has been fixed in the latest release v0.0.7.

Closing this, do open it again if the issue persists.

[2017-07-28 14:30] #354 closed

[2017-07-28 21:51] rishab-sharma opened #380 "Python-Django app unable to fetch Static files when deployed on the hasura platform"
HOW TO REQUEST? / Bug Report

When I deployed my Django app on hasura platform , the webapp was unable to fetch and render the static files (CSS and JS) , which was working properly on the localhost.

After git push hasura master , I expected the app to deploy in a similar manner as it was working on the localhost but this time it was unable to fetch the static files and only displayed the html wh

[2017-07-29 21:23] coco98 opened #381 "Expose microservice on specific domains and not all domains as is default behaviour"
/kind feature

Some folks may desire the ability to host multiple apps with the same name (www or '') but on different domains on the same hasura project.

Will require route configuration to be separated from service configuration in the current setup.

[2017-07-30 03:28] coco98 opened #382 "Various hasuractl & local-development links are causing grief"
If people first search for hasuractl on google, the link to local-development comes up.
We need to make some things very clear and remove the rest of the pages:

1) local-development: only for running hasura locally. For hasuractl docs to do other things head to: xxxx
3) hasuractl: To get more details on how to run hasura locally, head to github.com/hasura/local-development

0.6/ref/local-developm

[2017-07-31 19:21] shivamd20 opened #383 "Getting errors while deploying NodeJS app (git push)"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

/kind bug
/kind howto

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
docker, git push

**What happened**:

`
shivam@shivam-Lenovo-G50-45:~/nodejs/nodejs-express$ git push hasura master
Counting objects: 415, done.
Delta compression using up to 4 threads.
Compressing o

[2017-07-31 20:13] coco98 commented on #383
@shivamd20 If your repo is public can you share a link to your github repo? Otherwise, Can you post your Dockerfile? Also, please remember to use ``` when you're pasting code or use the github `wsiwyg editor to highlight your text and mark it as code, the "<>" icon.`

[2017-08-01 00:07] shivamd20 commented on #383
https://github.com/shivamd20/BAKBAK

[2017-08-01 04:36] dsandip opened #384 "Clean up zombie projects in dashboard.hasura.io"
/kind bug
**Clean up zombie projects from the dashboard.hasura.io database**

Bug report
----------
This is a new issue.

**What happened**: There are some projects in the ``dashboard.hasura.io`` database with no underlying VM. These zombie projects should be marked as *deleted*.

[2017-08-01 06:00] shivamd20 opened #385 "Hasura.getClient().getUser().isLoggedIn() returns false even when the user is logged in..."
@jaisontj
/kind bug

Bug report
----------

**What happened**:

When i am printing the value of Hasura.getClient().getUser().isLoggedIn()  from a background thread it prints true but when i do it in the activity it prints false. In both cases i am logged in.

Hasra.getClient().getAuthToken() also returns null on activity.

**Environment**:
- Hasura project type: local
- OS: Ubuntu 16.4
- Hasura An

[2017-08-01 09:21] praveenweb commented on #360
Implemented in platform release 0.14.1. Closing this.

[2017-08-01 09:21] #360 closed

[2017-08-01 09:25] praveenweb commented on #353
Hi @shubham1172 . This has been fixed in latest platform release version 0.14.1. You might have to upgrade your existing project. Closing this.

[2017-08-01 09:25] #353 closed

[2017-08-01 09:27] praveenweb commented on #302
Fixed in platform release 0.14. Closing this issue.

[2017-08-01 09:27] #302 closed

[2017-08-01 09:31] praveenweb commented on #143
@coco98 @dsandip - We have implemented API Explorer in 0.14 platform release. So closing this one.

[2017-08-01 09:31] #143 closed

[2017-08-01 09:34] praveenweb commented on #114
We have removed references to docs in the latest versions of console. So this issue is probably not relevant anymore. Closing this.

[2017-08-01 09:34] #114 closed

[2017-08-01 09:37] praveenweb commented on #68
From 0.13+ platform version, we have a new page under Data Management called Administration where the credentials for accessing postgres and how to connect via SSH tunnel is displayed. Hopefully that solves the above issue. Closing this now.

[2017-08-01 09:37] #68 closed

[2017-08-01 09:38] praveenweb commented on #112
Scrolling issues have been fixed in newer versions (0.13+) of the platform.

[2017-08-01 09:38] #112 closed

[2017-08-01 09:44] praveenweb commented on #124
Disabling external endpoint has been implemented in 0.14+ platform version. More advanced configuration options are available in Console while creating a new micro-service. Closing this one.

[2017-08-01 09:44] #124 closed

[2017-08-02 17:09] #372 closed

[2017-08-02 17:10] jaisontj commented on #216
@ecthiender @praveenweb Assuming that the new console no longer has this. Re-open if its not fixed.

[2017-08-02 17:10] #216 closed

[2017-08-02 17:11] jaisontj commented on #200
@coco98 Closing this, re-open if needed.

[2017-08-02 17:11] #200 closed

[2017-08-03 06:22] jaisontj opened #386 "Adding Permission Bug"
- Kind:  bug

Bug report
----------
**How to reproduce it (as minimally and precisely as possible)**:
While adding a permission for a table, if all the fields except the "Role" field are left empty and if the save button is clicked, the message says "Saved" yet no permission is added.

**Environment**:
- Platform Version: v0.14.1
- Browser - Chrome

@ecthiender @praveenweb

[2017-08-03 08:49] jaisontj opened #387 "Sort out screen width issues: eg: Insert row page on 13" screens"
/kind bug

Bug report
----------
The default button placement needs to be next to the "Null" button. The current placement is very confusing.

**Environment**:
- Platform version: v0.14.1
- Browser: Chrome

[2017-08-03 08:49] jaisontj commented on #387
@praveenweb @ecthiender

[2017-08-03 08:51] jaisontj opened #388 "Minor improvments to query template UI"
/kind bug

Bug report
----------
The template comment/description needs to be moved up and should be placed under template name.

**Environment**:
- Platform version: v0.14.1
- Browser: Chrome

@ecthiender @praveentfc

[2017-08-03 09:29] coco98 commented on #326
https://docs.hasura.io/0.14/tutorials/deploying-a-php-laravel-app.html

[2017-08-03 09:29] #326 closed

[2017-08-03 09:31] coco98 opened #389 "Create android starter kit demo"
/kind howto

Can we change the name?
Can we add a live coding demo of how to use the android starter kit.

[2017-08-03 09:31] coco98 commented on #370
https://github.com/hasura/Modules-Android
Screencast demo is not yet done. That is moving to a separate issue: #389

[2017-08-03 09:31] #370 closed

[2017-08-03 09:35] coco98 commented on #376
https://docs.hasura.io/0.14/tutorials/deploying-a-django-app.html

[2017-08-03 09:35] #376 closed

[2017-08-03 10:02] coco98 opened #390 "Ionic starter kit"
/kind howto

Ionic starter kit similar to the angular one at: https://docs.hasura.io/0.14/tutorials/angularjs-starter-kit-with-yeoman-and-hasura.html

Describe a sample integration of hasura/js-sdk for angular and ionic apps. Ideally, build a few compoents for:

1. Login
2. File upload

[2017-08-03 10:03] coco98 commented on #373
Done for angular at: https://docs.hasura.io/0.14/tutorials/angularjs-starter-kit-with-yeoman-and-hasura.html
New issue for ionic at:

[2017-08-03 10:03] #373 closed

[2017-08-03 10:34] coco98 commented on #388
Template description and name should come up next to each other
Template usage UI, use API explorer like interface
Original query: add a create_query_template type bit to it

[2017-08-03 10:48] paranoidsp commented on #349
Duplicate of #21

[2017-08-03 10:49] #349 closed

[2017-08-03 10:53] paranoidsp commented on #21
Similar to issue hasura/platform#90

[2017-08-03 10:58] coco98 commented on #323
Add a "clear" or "reset" button.

[2017-08-03 11:00] coco98 commented on #312
Closing this in favour of hasura/platform#90 and #21

[2017-08-03 11:04] #306 closed

[2017-08-03 11:04] #300 closed

[2017-08-03 11:09] coco98 commented on #299
@jaisontj  Please provide an example to reproduce this bug. Failure to do so will result in getting banned from this repo.

[2017-08-03 11:17] coco98 commented on #230
Duplicate of #387

[2017-08-03 11:17] #230 closed

[2017-08-03 11:19] shahidhk commented on #170
Enable `heapster` on all projects so that the node and pod resource loads are logged.

[2017-08-03 11:27] paranoidsp commented on #159
Maybe add a custom service to test social login?  Something people can just add and use env vars to test social login with.

[2017-08-03 11:29] #121 closed

[2017-08-03 11:29] paranoidsp commented on #116
The primary key of a table is not designed to be modifiable on the Hasura console.

[2017-08-03 11:29] #116 closed

[2017-08-03 11:30] coco98 commented on #115
Duplicate of #323

[2017-08-03 11:30] #115 closed

[2017-08-03 11:31] coco98 commented on #106
Closing this for now till we have another case.

[2017-08-03 11:31] #106 closed

[2017-08-03 11:33] coco98 commented on #96
No longer relevant.

[2017-08-03 11:33] #96 closed

[2017-08-03 11:34] coco98 commented on #47
Renaming tables will never be allowed as per the current roadmap.

[2017-08-03 11:34] #47 closed

[2017-08-04 11:04] paranoidsp opened #391 "JSON beautify button on the API Explorer"
Feature request
---------------

**What is the feature you would like to have?**
A JSON lint/beautify button on the API Explorer.

[2017-08-04 11:08] ecthiender commented on #391
Currently, it automatically prettifies the request and response body. The
JSON editor also tells if there is any syntax error.

What else do you have in mind?

On Fri, Aug 4, 2017 at 4:34 PM, Karthikeya Viswanath <
notifications@github.com> wrote:

[2017-08-04 11:27] ecthiender commented on #391
On paste the JSON request body is not prettified. This case should be handled, then we do not a button to do that.

[2017-08-04 21:07] shivamd20 commented on #385
@jaisontj it only happens when i restart my app.

[2017-08-04 21:47] shivamd20 commented on #385
`
        SharedPreferences sp=this.getSharedPreferences("HasuraUserStore",MODE_PRIVATE);

        Log.e(TAG,sp.getString("AuthTokenKey","AUTH TOKEN IS NULL"));`

When i do this i get the Auth-token but Hasura.getClient().getUser().isLoggedIn(); still returns false;

[2017-08-06 10:35] vishu160196 opened #392 "Security issue with table permission filters"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
Table, permissions, security

**What happened**: Making a POST request to tables using the format {"type" : "select", "args" {"table" : "my_table", "columns" : ["*"]}} fully follows the permission filter that has been set

[2017-08-07 04:19] coco98 commented on #392
`type: run_sql` queries are only meant to be used by admin!
We should document this more clearly.

Is there a reason why you're using a run_sql query for a user? Can you show us an example?

[2017-08-07 06:15] praveenweb commented on #323
Added a clear button, which resets all input text fields. Original Default and Null options are preserved. Merged to master. Closing this.

[2017-08-07 06:15] #323 closed

[2017-08-07 06:16] praveenweb commented on #369
Removed password and extra_info columns from Filter and Sort options. Merged to master. Closing this.

[2017-08-07 06:16] #369 closed

[2017-08-07 07:06] praveenweb commented on #387
Fixed with min-width and right scroll for smaller screens.

[2017-08-07 07:06] #387 closed

[2017-08-07 09:48] vishu160196 commented on #392
There is no other way to make queries like `select * from table where id = 2 OR id = 3`. The conditions like AND, OR can be used in queries only through this way. If you intend to keep `type: run_sql` for admin then perhaps a way to make queries with AND and OR conditions should be made available for use by other roles. And please don't make this change right now otherwise my app would stop workin

[2017-08-07 09:57] ecthiender commented on #392
Have you looked at these examples? https://docs.hasura.io/0.14/getting-started/4-data-query.html#querying-data

If you scroll down a bit, you can see examples of `AND` and `OR` queries.

[2017-08-07 10:17] dsandip opened #393 "instance pricing link for GKE"
Feature request
---------------

When displaying the list of instance types for GKE, there should be a link to the GCP instance  [pricing page](https://cloud.google.com/compute/pricing) along with a mention of the networking and storage resources needed for a single hasura project.

[2017-08-07 10:23] dsandip opened #394 "GKE: Show instance prices along with their config information"
Feature request
---------------

Show instance prices along with the instance details itself. The pricing details can be found in this JSON file: https://cloudpricingcalculator.appspot.com/static/data/pricelist.json (maintained and updated by Google).

[2017-08-07 10:33] ecthiender commented on #378
@praveenweb this is fixed right?

[2017-08-07 11:21] praveenweb commented on #378
Fixed and merged to master.

[2017-08-07 11:21] #378 closed

[2017-08-07 11:29] coco98 commented on #394
Is this necessary to do right now? Why can't we just link people to the page?

[2017-08-07 11:58] dsandip commented on #394
@coco98 : No, not a priority right now. Adding a link should do as an immediate requirement - #393. Although, I think this is a very elementary thing to expect from a UX POV. Pricing is fairly high in the information hierarchy and simple enough to show here.

[2017-08-07 12:10] coco98 commented on #394
@dsandip The thing that worries is me is that we have to worry about how much detail to show them. What about load-balancer cost, disk cost, external IPs cost, bandwidth cost etc.

Or do you only want to show instance cost and then say that the cost will definitely be more because  <read more on GCP site>?

[2017-08-07 12:18] dsandip commented on #394
@coco98: When it comes to :moneybag: related information, we **have** to be as transparent as possible. It's on us to find out an elegant way to do this. I'll keep this assigned to myself till I come up with a more detailed spec for this.

[2017-08-07 12:20] coco98 commented on #394
@dsandip I agree. But till we have an elegant way, I recommend that we forward them to GCP pricing because we want to be clear that  this is your infrastructure cost. Putting a price on our page means that people need to cross check if the prices we're showing have a markup on the base GCP prices.

[2017-08-07 14:40] coco98 commented on #390
Done: https://docs.hasura.io/0.14/tutorials/ionic-v1-starter-kit-with-hasura-js-sdk.html

[2017-08-07 14:40] #390 closed

[2017-08-08 18:51] coco98 opened #395 "Chatbot app tutorial series and deployed app link"
Continuation from aug 8 webinar

[2017-08-08 18:54] coco98 opened #396 "Fintech app tutorial series"
Follow up from aug 8 webinar.

[2017-08-09 13:36] praveenweb commented on #386
Fixed. Validation was missing before.

[2017-08-09 13:36] #386 closed

[2017-08-09 13:38] praveenweb commented on #388
Original query doesn't need a create_query_template wrapping because, the create template page now has name, comment and query as separate form inputs.

Template usage UI has been changed to Swagger style GET and POST boxes.

[2017-08-09 13:38] #388 closed

[2017-08-10 08:14] ecthiender commented on #109
This has been fixed from 0.11 onwards.

[2017-08-10 08:14] #109 closed

[2017-08-10 11:11] praveenweb commented on #359
Link to appropriate docs added to the console notify section.

[2017-08-10 11:11] #359 closed

[2017-08-11 03:11] rohangeorge91 opened #397 "Dashboard UI feedback for local-development"
**BUG Report**:

/kind bug

Bug report
----------

**What terms/phrases did you search for on this GitHub repo before filing this issue**
- Offline message
- Dashboard

**What happened**:
- While setting up the offline message for '_*.hasura.me_' domain, the Dashboard UI hangs.

**What you expected to happen**:
- Proper UI feedback - like something went wrong etc. (Browser console is showing an is

[2017-08-11 06:16] praveenweb commented on #312
All messages in Data page (Both success and error messages) now appear as dismissible, auto hide notifications.

Released in 0.14.4 platform version.

[2017-08-11 06:16] #312 closed

[2017-08-11 09:30] praveenweb commented on #265
@0x777 - Can HasuraDB return if a column is serial? Currently it returns auto-increment columns as integer with default value set. So there's no way to find out.

[2017-08-11 12:20] praveenweb commented on #364
Clicking the text will now auto-select it (ignoring the label), making it easier to copy.

[2017-08-11 12:20] #364 closed

[2017-08-11 16:54] coco98 commented on #265
The default value of the column will be of the form next('some_seq_name')
if it is a serial column.

On Fri, Aug 11, 2017 at 3:00 PM, Praveen Durairaj <notifications@github.com>
wrote:

[2017-08-14 12:50] praveenweb commented on #265
Fixed in latest commit.

[2017-08-14 12:50] #265 closed

[2017-08-15 17:41] paranoidsp commented on #82
This could be explained better in

[2017-08-15 17:43] paranoidsp commented on #82
Oops, sorry, accidentally closed it.

This could be added to the API gateway section where we explain sessions.  I'm going to try to add it and make a pull request soon, Rishi also had trouble finding documentation on this.

[2017-08-26 10:23] souvikhaldar commented on #380
Similar issue I'm also facing. I wrote my app's backend in Flask.

[2017-08-27 16:58] coco98 commented on #380
@rishab-sharma
When you test locally you guys must have been using the local testing server which serves static files. When you deploy django, static files are not served by the python app because it's inefficient. nginx type services are better for serving static files.

This is what you can do:
- Run collectstatic and collect all your static files in one folder
- Deploy these static files with n

[2017-08-27 20:22] souvikhaldar commented on #380
What to do if I'm using flask?

[2017-08-28 05:42] coco98 commented on #380
@souvikhaldar Very similar. You won't have to configure anything in settings, but make sure that you use the right URLs in your HTML files when you refer to your static assets.

Can you describe your local development process? I can suggest a more optimal process, if possible, in that case.

[2017-09-04 06:14] jaisontj commented on #395
Docs - https://docs.hasura.io/0.14/tutorials/building-a-facebook-messenger-bot.html
Video - https://www.youtube.com/watch?v=k-AviWPcyoY&list=PLTRTpHrUcSB-ZYnDdh46u6qznRtZjBDEu

[2017-09-04 06:14] #395 closed

[2017-09-06 06:32] dsandip opened #398 "The Google sign-in method status wrongly shown as disabled"
Bug report
----------

*Searched for *Google* in the list of console issues before filing this issues.*

**What happened**:
Sign in using Google is enabled. But the console shows the status as disabled.

**What you expected to happen**:
The console should show the status correctly.

[2017-09-08 01:50] rafeeqpk36 opened #399 "project status always shows as " waiting for saved changes to be sync""
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

/kind bug

Bug report
----------

[2017-09-24 19:05] coco98 opened #400 "Provide schemaspy as a service for postgres"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

/kind feature

Need an easy way to visualise complex schemas. Schemaspy is one of the best community tools.
We can create an APIfied version of this: https://github.com/MatthewRDodds/docker-schemaspy-postgres

So that every time you hit https://schemaspy.test42.hasura-app.io/refresh the schema is refreshed
and schemaspy.test42.has

[2017-09-27 07:43] dsandip opened #401 "Update content in blogs for hasuractl based flow"
Content update request
------------------------
The following content has to be updated to reflect the hasuractl related developer flow:

- [ ] https://blog.hasura.io/inter-service-communication-on-your-hasura-backend-9ab3a477a19e
- [ ] https://blog.hasura.io/deploying-your-php-apache-webapp-in-under-a-minute-with-hasura-16b8d5212117
- [ ] https://blog.hasura.io/server-side-development-for-ios-dev

[2017-09-27 09:38] dsandip opened #402 "Updates to github repos"
Content update request
------------------------
The following changes are needed in addition to adding an MIT license in each of the repos:

- [ ] https://github.com/hasura/quickstart-docker-git Remove the getting started section and just link to the docs landing page.Sub-repos should link to their respective getting-started guide
- [ ] https://github.com/hasura/js-sdk BIG BOLD Notice about how th

[2017-09-27 16:49] Eorlundgraymane opened #403 "git push does not work on GKE multinode project created via dashboard (0.14.x)"
**BUG REPORT**
/kind bug
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
GIT PUSH SERVICE NOT DEPLOYING

**What happened**:
I could not access my project website https://sunshine.animation75.hasura-app.io
My project is hosted on GCP. I am able to access console.animation75.hasura-app.io
When i access my webapp, it says Gateway error

**

[2017-09-27 17:06] coco98 commented on #403
@Eorlundgraymane this seems like your server is timing out. Did you check the logs to see what happened?

Head to the git-push-service section of the console, select your service, head to advanced and click on logs.

[2017-09-27 17:22] Eorlundgraymane commented on #403
2017-09-27T16:35:19Z 1 times Scheduled Successfully assigned
sunshine-1053049916-lnh1c to
gke-animation75-k8s-clus-default-pool-58abebb7-kt9w
2017-09-27T17:17:28Z 13 times Pulling pulling image
"sunshine-default.sunshine-sunshine:89cbc436c350b0bc764b857c59185eba72d16d62"
2017-09-27T17:17:31Z 13 times Failed Failed to pull image
"sunshine-default.sunshine-sunshine:89cbc436c350b0bc764b857c59185eba72

[2017-09-27 17:35] coco98 commented on #403
@Eorlundgraymane Oh sorry! Our mistake.
**git push** to deploy is currently not enabled on GKE multinode for this platform version. It'll be available in the next update we make. If you want to continue testing with the current version, can you make sure that you scale your number of nodes to just 1? Everything will work then.

Head to https://console.cloud.google.com/kubernetes/list and edit the

[2017-09-27 17:47] Eorlundgraymane commented on #403
yes the cluster size is set to 1. Also i see an update available for my
nodes. should I do that , is it necessary?

On Wed, Sep 27, 2017 at 11:05 PM, Tanmai Gopal <notifications@github.com>
wrote:

[2017-09-27 17:51] Eorlundgraymane commented on #403
Image
sunshine-default.sunshine-sunshine:89cbc436c350b0bc764b857c59185eba72d16d62
Status
 Back-off pulling image
"sunshine-default.sunshine-sunshine:89cbc436c350b0bc764b857c59185eba72d16d62":
ImagePullBackOff
Logs
View logs
Restart count
0
Start time
Not started yet
Ready
False
Ports
8080/TCP (exposed on host)
Image pull policy
IfNotPresent
Environment variables
PORT
8080
Resources
cpu
requested 1

[2017-09-27 17:53] Eorlundgraymane commented on #403
Shall I delete the GIT Push service and create a new service and repush my
code into the new one?

On Wed, Sep 27, 2017 at 11:21 PM, Code Rider <rkmenon235@gmail.com> wrote:

[2017-09-27 18:11] coco98 commented on #403
Yes, could you try doing that. If you're on a single node then git push should work. Do let me know how it goes.

[2017-09-27 18:11] coco98 commented on #403
Also, make sure that the cluster size has actually reduced to 1 before continuing.

[2017-09-27 18:48] Eorlundgraymane commented on #403
Thanks for the help Tanmai!!! I made a new git push service and re pushed
the code. It's working fine. Please do register on the site if you can
spare the time. Thanks alot !!! https://sunshine.animation75.hasura-app.io

On Wed, Sep 27, 2017 at 11:41 PM, Tanmai Gopal <notifications@github.com>
wrote:

[2017-09-30 04:44] #403 closed

[2017-09-30 04:59] Eorlundgraymane opened #404 "Verifying Sending Domain in SparkPost"
HOWTO REQUEST

/kind howto

How-to request
--------------

**What docs/how-tos/tutorials would you like to have?**
How to verify sending domain in SparkPost

**Can you describe what you were trying to do that would benefit from this guide/docs/tutorial/how-to**
I was trying to **enable email verification** service.
I **signed up in Spark Post** and **added the API key** to the hasura console.
But

[2017-09-30 08:41] coco98 commented on #404
Hey. You can't use a hasura-app.io domain as a sending domain since you
don't own it. You should either buy your own domain or even better use the
SMTP option for configuration. Then you can link your gmail id (create a
new one if you don't want to use your personal id) and gmail will be the
email sender. There's a limit of sending only a few 100 a day, but that's
easiest till you decide you want

[2017-09-30 08:42] coco98 commented on #404
https://docs.hasura.io/0.14/manual/email-sms/index.html

On Sat, 30 Sep 2017 at 4:40 PM, Tanmai Gopal <tanmaig@hasura.io> wrote:

[2017-10-01 15:17] Eorlundgraymane commented on #404
Thanks Tanmai !!!! Did it using SMTP

[2017-10-01 15:17] #404 closed

[2017-10-01 16:39] aqelkp opened #405 "No response in file API for request with existing id"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
file

**What happened**:
Made upload request to file API with existing id. But it didn't give any response at all.
**What you expected to happen**:
Respond with an error.
**How to reproduce it (as minimally and precisely as possible)**:
Made upload request to file API with exist

[2017-10-01 16:42] aqelkp opened #406 "Update feature for Files"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Update for files.
**Describe your application use case that would benefit from this feature**
Currently if I have to delete and upload a new file to make changes to my text file.

**Environment**:
- Hasura project type: (local/free-trial/DigitalOcean/GCP/**GKE**/AWS/other)
- OS: (Ubuntu/**Mac**/Windows.

[2017-10-02 03:58] coco98 commented on #405
@aqelkp Can you show us the HTTP request you made? Via curl or even a screenshot from your inspect element/postman type client?
Ideally, you should get:

[code]

[2017-10-02 04:01] coco98 commented on #406
@0x777 Is there an update API or is delete + upload again the only way?

[2017-10-03 06:53] jaisontj commented on #402
Made the mentioned changes for the iOS SDK, Android SDK as well as chat-app-android

[2017-10-03 06:54] jaisontj commented on #402
@coco98 @dsandip Should we deprecate baas-sdk-java ?

[2017-10-03 06:55] coco98 commented on #402
Yes. We should do that. Anyone coming there should be linked to the latest
source of truth.

On Tue, Oct 3, 2017 at 2:54 PM, jaisontj <notifications@github.com> wrote:

[2017-10-04 09:31] paranoidsp opened #407 "Multipart/form-data support for Filestore upload"
/kind feature
Feature request
---------------

**What is the feature you would like to have?**
File upload should support multipart/form-encoded requests.

**Describe your application use case that would benefit from this feature**
Most file upload examples people find tend to be multipart, and this should just work for them.
An alternative is that they use only our codegen, but supporting simple

[2017-10-06 20:32] welf opened #408 "Failing to upgrade a project with hasuractl"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**:

hasuractl upgrade

**What happened**:

When I run `hasuractl upgrade` to upgrade my test project I get:

[code]

**Environment**:
- Hasura project type: free-trial
- OS: macOS High Sierra v.10.13
- hasuractl version: 0.1.12

[2017-10-07 10:03] shahidhk commented on #408
Hello, we are investigating this issue.

[2017-10-17 05:07] dsandip commented on #408
@shahidhk : Any update here? Also, do you want to provide an alternate method to upgrade (*uninstall->install*)?
@arvi3411301 : Why is your name in the stack trace?

[2017-10-17 05:19] dsandip commented on #400
@coco98: shouldn't this be part of the console?

[2017-10-17 05:22] dsandip commented on #399
@rafeeqpk36: Can you mention the platform version where you are seeing this error? or just the project name.

[2017-10-17 05:28] dsandip commented on #394
@coco98 : Closing this one till we revisit BYOC.

[2017-10-17 05:28] #394 closed

[2017-10-17 05:32] dsandip commented on #392
@vishu160196 : I am going to close this one. If you have any questions about using the query syntax, please get in touch with us at https://hasura.io/help. Thanks!

[2017-10-17 05:32] #392 closed

[2017-10-17 05:33] dsandip commented on #393
Closing this one too till we revist BYOC.

[2017-10-17 05:33] #393 closed

[2017-10-17 05:34] dsandip commented on #391
@ecthiender : Is this handled in the latest API Explorer?

[2017-10-17 06:07] dsandip commented on #380
Hey @souvikhaldar, I am closing this one for now. Please reopen this when you have more information about your local dev process.

[2017-10-17 06:07] #380 closed

[2017-10-17 06:19] jaisontj commented on #385
@shivamd20 Could you paste your code snippet here, ideally this should not happen.

[2017-10-17 06:22] coco98 commented on #400
I'm going to include this as a quickstart or as another service that you
can just add to your existing project (hasura service add).
Can we add this as an issue to the quickstart repo? I already have
something working for a few projects.
You can assign the issue to me.

--
Tanmai

On Tue, Oct 17, 2017 at 10:49 AM, dsandip <notifications@github.com> wrote:

[2017-10-17 06:33] dsandip commented on #400
done. Closing this one.

[2017-10-17 06:33] #400 closed

[2017-10-17 06:57] dsandip commented on #345
Hey @rishavanand : Thank you for the request. An upcoming version of `hasuractl` will include this feature.

[2017-10-17 07:04] dsandip commented on #338
@ecthiender : v0.15 should fix this, right?

[2017-10-17 07:14] dsandip commented on #321
Closing this one and tracking it here: https://github.com/hasura/docs/issues/163

[2017-10-17 07:14] #321 closed

[2017-10-17 07:26] dsandip commented on #311
@nithinm50 /@coco98 : Can we close this one? I am assuming this was from when we did not have the docs for the File service live.

[2017-10-17 07:30] coco98 commented on #311
Yes, let's just mention the link to the docs and close the issue.

On Tue, Oct 17, 2017 at 12:56 PM, dsandip <notifications@github.com> wrote:

[2017-10-17 07:32] dsandip commented on #294
@ecthiender : Has this been fixed in the v0.15 Auth?

[2017-10-17 10:16] ecthiender commented on #391
@praveenweb can you confirm?

[2017-10-17 11:05] dsandip commented on #322
@Nix07: The scenario you have described is not exactly an error - the user is making a legitimate request i.e. they are authorized to access this table and their scope is limited to a subset of the rows (where `user_id = REQ_USER_ID`) . That this subset happens to be empty is not an error but just the *state* of the app at that point in time, something that the app itself should handle.

[2017-10-17 11:05] #322 closed

[2017-10-18 11:47] dsandip commented on #311
@nithinm50 : this information has been updated here already: https://docs.hasura.io/0.14/manual/files/index.html

Please reopen this issue if you feel the above information needs to be modified.

[2017-10-18 11:47] #311 closed

[2017-10-21 14:16] shivamd20 commented on #385
`
       @Override
    protected void onCreate(Bundle savedInstanceState) {

        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        askForContactPermission();

        AccountGeneral.createSyncAccount(this);

        SyncAdapter.performSync();

        //// Intent sendmsgintent = new Intent(this.getApplicationContext(), SendMesseges.class);
       // I

[2017-10-22 04:48] jaisontj commented on #385
I've written a simple app to test this and it seems to be working fine. Check it out [here](https://github.com/jaisontj/auth-test).

[2017-10-24 06:38] dsandip opened #409 "Intercom integration bug"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
Intercom, integration
**What happened**:
Intercom integration does not recognize users when they ping with their queries across all*/hasura.io/* properties
**What you expected to happen**: Intercom should be seeded with users' IDs so the users don't have to enter it again and Ha

[2017-10-24 06:38] dsandip commented on #409
@anandfeb25, @rajoshighosh : FYI.

[2017-10-24 07:04] karthikvt26 commented on #409
Hey if we are going to look for the user's session on all the pages on hasura.io we need to change all the buttons/links which says **login/register** to **dashboard**.

@dsandip @rajoshighosh: Let me know what you think?

[2017-10-24 07:09] karthikvt26 commented on #409
Spoke with Tanmai, we will tag intercom sessions with the user if he is logged in without changing any of the above said links.

[2017-10-26 13:36] shivamd20 commented on #385
It's working with your app.

[2017-10-26 13:36] #385 closed

[2017-10-31 03:26] aqelkp opened #410 "Unable to modify table"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
could not fetch roles

**What happened**:
Getting a pop up with message "Could not fetch roles " when trying to modify table.
- Hasura project type: (local/free-trial/DigitalOcean/GCP/**GKE**/AWS/other)
- Browser (if this issue is related to the console): Chrome

[2017-10-31 03:29] aqelkp commented on #405
{
    "code": "bad_request",
    "message": "file already exists : aqel"
}
Got the message now.

[2017-10-31 03:29] #405 closed

[2017-10-31 10:50] praveenweb commented on #410
@aqelkp - This error occurs when the console is not able to fetch auth roles. Could be internet or not able to connect to auth service in your cluster. Let us know if you are still facing this issue.

[2017-10-31 10:57] praveenweb commented on #330
This has been a bug till platform version v0.12.4. After v0.13 and above, this has been removed.

[2017-10-31 10:57] #330 closed

[2017-10-31 12:41] praveenweb commented on #331
From v0.15 and above, Primary keys cannot be deleted from modify table page.

Run SQL can be used to modify existing/adding new primary keys.

[2017-10-31 13:16] #331 closed

[2017-11-02 06:44] praveenweb commented on #270
This issue is no longer applicable. The console application just requires webpack bundles to run. From v0.15, console is going to use just the bundled js and css files.

[2017-11-02 06:44] #270 closed

[2017-11-09 19:29] coco98 commented on #402
@jaisontj Can you own this issue and drive it to completion tomorrow?

[2017-11-10 09:10] praveenweb commented on #307
From v0.15, console doesn't write to secrets anymore. Closing this.

[2017-11-10 09:10] #307 closed

[2017-11-10 09:10] #410 closed

[2017-11-10 09:13] praveenweb commented on #292
Till v0.14 of Hasura Platform, you can export your project using the console Under Import/Export section.
From v0.15, your project configuration along with migration will be version controlled in git.

[2017-11-10 09:13] #292 closed

[2017-11-10 09:16] praveenweb commented on #164
Not relevant for console anymore.

[2017-11-10 09:16] #164 closed

[2017-11-10 09:17] praveenweb commented on #159
API Explorer solves this issue from v0.15.

[2017-11-10 09:17] #159 closed

[2017-11-10 09:21] praveenweb commented on #333
@coco98 - This will be done via hasura cli from v0.15.

[2017-11-10 09:21] #333 closed

[2017-11-10 10:33] ecthiender commented on #246
Fixed since v0.15.3

[2017-11-10 10:33] #246 closed

[2017-11-28 09:48] shark-h opened #411 "CLI stuck after git push hasura master"
/kind bug

Bug report
----------

**What happened**:
Git push stuck after final step-
`remote:
remote: Updating Kubernetes deployment: bot
remote: deployment "bot" image updated
remote: Waiting for rollout to finish: 0 of 1 updated replicas are available...
`

**How to reproduce it (as minimally and precisely as possible)**:
Followed these-
`$ # 1) Login if you haven't already
$ hasura login

$ #

[2017-12-07 07:10] Hyperclaw79 opened #412 "Unable to deploy hello-react custom app"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
react, hello-react

**What happened**:
Migrating to custom ui on the hello-react base and running it gets an error with server. After modifying dockerfile to run serve without `-g` flag, the build gets stuck in between. The logs are missing too.

**What you expected to happen**:

[2017-12-07 12:55] praveenweb commented on #256
All dependencies have been updated to their latest versions.
Works for v0.15.x platform versions and above.

[2017-12-07 12:55] #256 closed

[2017-12-18 05:59] dsandip opened #413 "Update docs URLs in console"
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
`console url`, `console urls`

**What happened**
The docs links in console throw 404 errors.

**What you expected to happen**:
To be redirected to the right docs links. E.g. For e.g. `https://docs.hasura.io/0.15/ref/hasura-microservices/notify/index.html#smtp needs to change` is one such l

[2017-12-18 10:46] praveenweb commented on #413
Pushed to production console. Closing this.

[2017-12-18 10:46] #413 closed

[2017-12-18 11:15] dsandip opened #414 "Fix/Improve hasura CLI error messages"
1. Error message `× Quickstart failed! error=[1011] API call failed | invalid authorization token`: Add a tip to log in i.e. use `hasura login`?
1. Error message: `× Quickstart failed! error=[1006] Directory already exist:`
	a) Change `exist` to `exists`.
	b) Show a warning + give options to`Yes, remove directory and proceed` or `no, I will manually remove it`

[2017-12-21 13:54] dsandip opened #415 "Console Notifications"
Feature request
----------------
Notifications in the api-console. Notification alerts similar to that in the dashboard (superscript - unread messages next to the cluster name drop-down for platform version; let's go with this and get notifications/messages their own icon/space once you get rid of the `settings` icon).

Messages to be pulled from a hasura.io DB and shown below the platform version

[2017-12-21 14:11] ecthiender commented on #415
What is the use-case? I mean, what kind of notifications will be shown on
api-console?

On Thu, Dec 21, 2017 at 7:24 PM, dsandip <notifications@github.com> wrote:

[2017-12-21 14:12] Hyperclaw79 commented on #412
The bug has been fixed after editing the ui dockerfile's to replace the base image with node and replacing alpine package manager with npm.

[2017-12-21 14:12] #412 closed

[2017-12-21 17:22] shivamd20 opened #416 ""hasura cluster list" command shows only one cluster"
/kind bug

Bug report
----------

**What happened**:
While cloning a project from hasura hub i got an error message saying

<code>hasura quickstart hello-react <br>
[code]
</code>

and then i checked the cluster list
<code>
 hasura cluster list
[code]
</code>
I had two clusters in my account.
I logged on to my dashboard and deleted a cluster. After that i was able to clone the quickstart.
But stil

[2017-12-22 10:31] smartclash commented on #414
I think the `kind/bug` is irrelevant here. This ain't a bug. 🤔

[2017-12-22 13:34] ecthiender commented on #416
@shahidhk any comments/ideas?

[2017-12-22 13:35] ecthiender commented on #409
@karthikvt26 @dsandip is this fixed?

[2017-12-22 13:39] ecthiender commented on #409
This is fixed via @karthikvt26

[2017-12-22 13:39] #409 closed

[2017-12-22 13:40] ecthiender commented on #398
This is fixed with new auth and api-console.

[2017-12-22 13:40] #398 closed

[2017-12-22 20:46] Hyperclaw79 opened #417 "Unstickify Notification Icon on Hasura Dashboard."
/kind feature

Feature request
---------------

**What is the feature you would like to have?**

Remove sticky behavior of Notification Icon on [Dashboard.hasura.io](https://dashboard.hasura.io/).

**Describe your application use case that would benefit from this feature**

Basically, the the badge over the notification icon never gets disabled even after the notification has been viewed. People m

[2017-12-25 11:49] shark-h opened #418 "Quickstart incomplete description"
https://hasura.io/hub/project/hasura/hello-react-native

**Pushing the project to the cluster** section

Last step reads as- "Run the following commands from your project directory your project to your Hasura cluster."

[2017-12-25 18:57] ashwani99 opened #419 "Rename LOGIN button to DASHBOARD on navigation bar"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Rename LOGIN button to DASHBOARD

**Describe your application use case that would benefit from this feature**
Currently on [hasura.io](https://hasura.io/) there is no indication of the user logged in. Even though the user is logged in, it shows `LOGIN`. The `LOGIN` button on the navigation bar should be

[2017-12-26 10:59] shark-h opened #420 "Hasura CLI ssh-key add description is incorrect"
/kind bug

Bug report
----------
Cluster name- brisk29

`hasura ssh-key add -c --h` gives the info as-

Which means "cluster name" is to be used, not alias.

When the cluster name is used, error pops up saying-

Which implies that the cluster is not present, but `hasura cluster list` gives the output:

Now when `hasura ssh-key add -c prod` is issued, the output is-

**Environment**:
- hasuracli ve

[2017-12-26 15:44] Hyperclaw79 opened #421 "Auto-Update ClI on login and Verbose update mode."
/kind howto

Feature request
---------------

**What is the feature you would like to have?**

1. Automatically run `hasura update-cli` upon using `hasura login` command.
2. Verbose mode for `hasura update-cli` using the `-v` flag to show a log of the updates in the newer version.

**Describe your application use case that would benefit from this feature**

Due to frequent updating of the cli, it

[2017-12-26 19:26] NandaKishorJeripothula opened #422 "Hasura API-Console-UI Overlapping Of Elements in NavBar & Query Access Error"
**BUG REPORT**:

/kind bug

Bug report
----------
**What terms/phrases did you search for on this github repo before filing this issue**

hasura api-console, api-console, hasura cli, api-console UI

**What happened**:
Hasura API-Console, the local server not rendering the UI elements perfectly in smaller screens.

The UI elements in Horizontal NavBar are overlapped by the Connected Cluster Name an

[2017-12-26 23:10] geekysrm opened #423 "Small mistakes in docs"
/kind bug  - documentation mistake

Bug report
----------

- In this doc section: https://docs.hasura.io/0.15/manual/email-sms/index.html#sending-an-email, in the second `Note` section, it is written -
_If you are writing **backed** code.._
Though I am not sure, I assume it should be:
 _If you are writing **backend** code.._

- Secondly, in this doc section: https://docs.hasura.io/0.15/manual/hub/

[2017-12-27 05:51] coco98 commented on #423
@geekysrm Feel free to submit a PR with these small fixes and we'll merge them!

[2017-12-27 14:23] brijeshshah13 opened #424 "Hasura Dashboard link missing in quickstart apps"
/kind bug

Bug report
----------

**What happened**:
Hasura dashboard link is missing in the quickstart apps of 3 frameworks, namely: `hello-python-flask`, `hello-nodejs-express` and `hello-react-native`.

**What you expected to happen**:
The link must be present to enable users to know where they can access their clusters in the first place.

**How to reproduce it (as minimally and precisely as p

[2017-12-27 15:26] Hyperclaw79 commented on #424
I am able to access the Dashboard as soon as I login. Not sure what you are referring to. Perhaps, screenshots might help in making it clear?

[2017-12-27 16:10] bhavyasruthi opened #425 "Terminal got stucked in 'Waiting for authentication' when cluster access is cancelled"
**Feature request(or Bug Report)**:

/kind feature

Feature request
----------

**What terms/phrases did you search for on this github repo before filing this issue**
login, authentication

**What happened**:
When I used command 'hasura login' , web page https://dashboard.hasura.io opened with dialog box - Hasura App wants to manage your cluster- Cancel /Allow. I selected cancel. Webpage worked fi

[2017-12-27 16:51] smartclash commented on #424
@brijeshshah13 Well, I don't think of this PR (and no harm if even merged) to be any useful that solves a problem. According to what I think, people who use Hasura will be having a basic knowledge of how to access them via a dashboard and more.

@Hyperclaw79 Brijesh means to add a link over to the dashboard at the docs so that developers can access it directly 👍

In what-ever means, this is great

[2017-12-27 17:01] geekysrm commented on #423
Done @coco98 !
I submitted PR for the first doc error at - https://github.com/geekysrm/docs/pull/1
the second doc error was already rectified earlier in this [commit](https://github.com/hasura/docs/commit/fea421691324042e6d6f2f3a8ab95422b107ce4b).

[2017-12-27 17:03] brijeshshah13 commented on #424
@Hyperclaw79 You understood it wrong. Please read @smartclash's comment. Also, I have verified it with @shark-h.

[2017-12-27 17:29] chinmoyeedash opened #426 "React native guide links not valid"
/kind bug

Bug report
----------
According to this [guide](https://github.com/hasura/docs/blob/master/guides/react-native.rst) there should be a git repository [https://github.com/hasura/expo-hasura](https://github.com/hasura/expo-hasura) for creating a Todo Application in React native. The link is not valid.

[2017-12-27 18:10] chinmoyeedash commented on #418
I had not seen this issue before.. have recently created a PR with the required changes.

[2017-12-27 18:55] geekysrm commented on #423
Done @coco98 !
I have submitted a PR for the first doc error at: https://github.com/hasura/docs/pull/286
The second doc error was already rectified in this [commit](https://github.com/hasura/docs/commit/fea421691324042e6d6f2f3a8ab95422b107ce4b).

[2017-12-27 23:50] sharmasoumyadip opened #427 "Info to create new microservice on port other than 8080, missing in docs"
This should be inlcluded in [Hasura CLI docs](https://docs.hasura.io/0.15/manual/getting-started/index.html)
/kind feature
/kind howto

### Problem
If a custom microservice is generated as stated in [DOC: Create a new microservice](https://docs.hasura.io/0.15/manual/custom-microservices/deploy-docker/index.html#create-a-new-microservice) and source code replaced with with prebuilt code [ Be it cus

[2017-12-28 00:21] geekysrm opened #428 "Chat box not opening when clicking on chat link"
Bug report
----------
**What happened**:
There is a default [notification](https://dashboard.hasura.io/notifications) of every user in the dashboard which says: _Next Steps with a Hasura project_ . On the notification, towards the end it reads: _Please do reach out to us at any time on **chat** if you.._
Here, **_chat_** is an anchor tag but clicking it does nothing!

**What you expected to happen

[2017-12-28 03:05] cathreya commented on #428
Few more problems on the same page.
1. **What happened**
On clicking the drop-down menu at the top right of the page, clicking the user email does not perform any action even though it gets highlighted when hovered over and appears to be a link.
**What you expected to happen**
Clicking the user email link causes some redirect.
**How to reproduce**
Go to https://dashboard.hasura.io/, login with Gma

[2017-12-28 03:11] geekysrm commented on #428
@cathreya Ya true, I was going to write about the first issue you have reported.
But the second issue is already reported
here: https ://github.com/hasura/support/issues/417 .

[2017-12-28 05:49] coco98 commented on #427
@sharmasoumyadip Please don't use all caps when you're generally typing. It's considered to be shouting typically on internet forums. Looks very rude!

[2017-12-28 06:06] sharmasoumyadip commented on #427
I will take care of that now onwards.

[2017-12-28 07:13] sdabhi23 opened #429 "Discrepancy in url endpoints on HASURA CLI"
/kind bug

Bug report
----------

The list of endpoints on the **hasura cli** obtained by `$ hasura ms list` show the `http` type of the external urls. While the requests to the same return a `301 Moved Permanently` response. Please update the urls to the `https` type.

[2017-12-28 07:17] coco98 commented on #429
@sdabhi23 This is deliberately done at the moment because you might not have SSL certificates generated when you run `hasura ms list` in which case it should show you the `http` version.

Ideally, we should show the URLs based on the status of the SSL cert generation. Which is something we can look into. :)

[2017-12-28 09:41] shark-h opened #430 "Bash completion not working with alias"
/kind bug

Bug report
----------

**What happened**: Auto-completion not working in bash for aliases e.g `ms` (microservice), `qs` (quickstart)

**What you expected to happen**: Pressing Tab should display the completion commands after aliases such as `ms` `qs`.

**How to reproduce it (as minimally and precisely as possible)**: Installed bash completion as indicated on https://docs.hasura.io/0.15/

[2017-12-28 12:43] coco98 commented on #424
@brijeshshah13 I'm actually a little confused so you'll have to motivate this a little more for me.

@brijeshshah13 I understand what you mean when you say we should ask people to visit the dashboard (and I agree we should have it somewhere), especially because we'll have monitoring and billing specific stuff there.

But if we're asking users to see what clusters they have and check the current cl

[2017-12-28 12:47] brijeshshah13 commented on #424
@coco98 Well, the info that those commands miss out is that where should the client go to verify details about the cluster before taking any crucial actions on it, such as deleting.

[2017-12-28 13:11] coco98 commented on #424
@brijeshshah13 Hm....Need you to be more specific. What details about the cluster are you referring to?

[2017-12-28 13:17] brijeshshah13 commented on #424
@coco98 Details like the Provider and especially the Creation Date as it can directly relate to which cluster has been created latest.

[2017-12-28 13:27] coco98 commented on #424
@brijeshshah13 got it! I think we should file an issue for including that info in `cluster status`.

[2017-12-28 13:37] brijeshshah13 commented on #424
@coco98 Will raise an issue right away. 👍

[2017-12-28 13:45] brijeshshah13 opened #431 "Add more info in `hasura cluster status` command"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
`hasura cluster status` must contain the information about the Provider and the Creation Date of the cluster under investigation.

**Describe your application use case that would benefit from this feature**
Client can directly know the provider of the cluster. And providing the Creation Date can help th

[2017-12-28 16:29] cTxplorer commented on #417
Happened to me - was about to report the issue, but then I found that issue is already reported.

[2017-12-28 16:31] cTxplorer commented on #417
"Mark All as Read" hyperlink (or maybe button) at the top of notification panel would do the trick.

[2017-12-28 16:55] cTxplorer opened #432 "landing page for first time logged in user - better usability"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

/kind feature

Feature request
---------------

**What is the feature you would like to have?**
When I signed up and logged in for the first time on Hasura, I landed on clusters(dashboard) page. I already had Hasura CLI installed on my machine. It still asked me to download it. It would be nice to have a button reading "I have it

[2017-12-28 17:55] cTxplorer commented on #432
_This page is displayed when no cluster is created by the user_ - also if I click the download button. User would expect to see the change in the page after they click the button. Instead of the download button, try displaying a message like - you have no active cluster.

[2017-12-29 10:27] praveenweb commented on #286
The old version of docs has been deprecated and all endpoints have been updated under Users & Authentication section. Here's the link to the current version - https://docs.hasura.io/0.15/manual/users/index.html

[2017-12-29 10:27] #286 closed

[2017-12-29 10:27] praveenweb commented on #314
The old version of docs has been deprecated and all endpoints have been updated under Users & Authentication section. Here's the link to the current version - https://docs.hasura.io/0.15/manual/users/index.html

[2017-12-29 10:27] #314 closed

[2017-12-29 10:40] praveenweb commented on #170
hasura cli's job

[2017-12-29 10:40] #170 closed

[2017-12-29 10:43] praveenweb commented on #252
From v0.15.23, the verify email will be part of the Auth UI Kit and it will work out of the box.
Previously it was a GET request endpoint which gives a JSON response.

[2017-12-29 10:43] #252 closed

[2017-12-29 16:35] smartclash opened #433 "Email password flow has a long response time"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:
/kind bug

Bug report
----------

**What happened**:

The authentication API (Email-Password) always returns a 500 header with _unknown error_ response. The `auth` micro-service and `notify` micro-service are perfectly running too. The notify is configured and tested with SMTP and sparkPost and has the same problem.

![capture](htt

[2017-12-29 16:35] sharmasoumyadip opened #434 "hasura api-console requesting delete-user endpoint with wrong request body"
/kind bug

### What happened
While accesing auth Api , using hasura api-console ie by running the command ```$ hasura api-console```
 to remove existing user, it makes a request to delete-user endpoint with following request body:
[code]
So it returns with a response with
[code]
This happens when deleting a existing user from [Auth & Usermanagement](http://localhost:9695/auth/users) Tab in the Has

[2017-12-30 03:33] tirumaraiselvan commented on #433
I looked into this. So couple of things here:

1) SMTP on port 465 will not work in free tier clusters. This is because GCP blocks outgoing traffic to standard email ports: https://cloud.google.com/compute/docs/tutorials/sending-mail/ . Your option is to see/ask your email provider if they have any other port available, read the notes here for more: https://docs.hasura.io/0.15/manual/email-sms/ind

[2017-12-30 07:24] Yatish04 opened #435 "hasura cluster list is not showing the old clusters"
**What happened**:
I added  a cluster called annotate11(_type=hpdf) two days ago. Now when i list the cluster list its not showing the cluster

**Environment**:
- Hasura project type: (hpdf)
- OS: (Windows..)

![screenshot 80](https://user-images.githubusercontent.com/29943244/34452187-f7321530-ed5f-11e7-9474-744de5880e88.png)

[2017-12-30 08:35] smartclash commented on #433
Thanks for the quick fix as you've mentioned @tirumaraiselvan. But, things seems really weird. When you are promoting the product, then, developers will first only use the free tier to test things out and then buy another plans if it satisfies them. It really feels bad that the resources used to send an email while in free tier is more, that feels kind of bad for me.

Sure yeah,  I understand it.

[2017-12-30 08:38] smartclash commented on #435
Are you sure you created the project with `--type=hpdf`? Because the team deleted the clusters created by interns that was not created with this flag. @Yatish04

[2017-12-30 08:51] Naveen7892 commented on #434
Faced the same issue.

![hpdf_delete_user_error](https://user-images.githubusercontent.com/17492097/34452757-bc898fbe-ed6c-11e7-8a84-5b87225a8cd4.gif)

[2017-12-30 09:22] Naveen7892 opened #436 "Hasura oAuth login considered as a separate account for listing clusters"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
is:issue oAuth
is:issue cluster

**What happened**:
When logged in with oAuth of Google / Github, existing clusters w.r.t the account are not shown.

**What you expected to happen**:
Should show clusters based on

[2017-12-30 10:07] tirumaraiselvan commented on #433
Yes, we will increase the default resources if we can't optimize the speed to a reasonably usable level. I will update this issue once we have progressed on this.

Thank you for your feedback.

[2017-12-30 10:12] Yatish04 commented on #435
@smartclash  Yeah it keeps deleting... and this is the third time the same thing is happening. So i don't know whether to submit or not.

[2017-12-30 10:14] smartclash commented on #435
So this means that you are not issuing the command after creating a quickstart project. You need to specify this command `--type=hpdf`. Please paste the command you use to create a cluster here so I can help you more perfectly 😊

@smartclash Yeah it keeps deleting... and this is the third time the same thing is happening. So i don't know whether to submit or not.
—
You are receiving this because y

[2017-12-30 10:21] Yatish04 commented on #435
I created the cluster as given in the mail-  hasura quickstart __type=hpdf

[2017-12-30 10:23] smartclash commented on #435
Aha, so you made a mistake here. You are using underscores instead of the minus sign. Use this command `--type=hpdf` and not this command `__type=hpdf`.

From: Yatishhr
Sent: Saturday, December 30, 2017 3:51 PM
To: hasura/support
Cc: xXAlphaManXx; Mention
Subject: Re: [hasura/support] hasura cluster list is not showing the oldclusters (#435)

I created the cluster as given in the mail- hasura quic

[2017-12-30 10:23] Yatish04 commented on #435
sry- this one hasura quickstart hello-python-flask --type=hpdf.

[2017-12-30 10:25] Yatish04 commented on #435
oh!! okay i'll try that now.

[2017-12-30 10:27] smartclash commented on #435
You should probably close this issue now. It is not a bug or error related to Hasura’s infra 🤔

[2017-12-30 10:29] #435 closed

[2017-12-30 12:48] sdabhi23 commented on #434
![screenshot 62](https://user-images.githubusercontent.com/25759344/34454266-b4d129d2-ed8d-11e7-8a24-61a2deee2fae.png)

Same issue here

[2017-12-30 14:08] Hyperclaw79 opened #437 "Authentication without browser?"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
*Browser-less auth*: Complete login from within the console instead of opening a browser.

**Describe your application use case that would benefit from this feature**

1. Since almost every operation can be performed from within the console itself, using a browser to login breaks the concept of command

[2017-12-30 14:12] Hyperclaw79 commented on #436
Not sure why anyone would type an entire gmail address instead of clicking a button but:

Authentication procedure to handle Login-via-Email and Google Oauth are separate. How about using a regex to detect gmail while creating an account when using a gmail address?

[2017-12-30 15:17] Naveen7892 commented on #436
@Hyperclaw79
The reason I used Email based login earlier is to avoid giving unnecessary permissions from Google oAuth.
If that's the case, what's the need for Email based login option?

**Suggestion:**
If this is by design, please document it mentioning to use anyone of the login mechanism, and not the both.

[2017-12-30 15:41] Hyperclaw79 commented on #436
If that's the case, what's the need for Email based login option?

If you have, say, a yahoo email account (or any email account other than google), you can use this method. It is not intended for gmail accounts.

[2017-12-30 16:58] rohanpd4 opened #438 "React-Js Incomplete/gap in Documentation"
HOWTO REQUEST?**:

/kind howto

How-to request
--------------

**What docs/how-tos/tutorials would you like to have?**

**Can you describe what you were trying to do that would benefit from this guide/docs/tutorial/how-to**

While Deploying the react app to the cluster it is documented that head to :
Open the package.json file at service/ui/app/  but their is no directory naming services rather th

[2017-12-30 18:42] sharmasoumyadip commented on #434
@Naveen7892 @sdabhi23
Yes that is the problem in api-console. @sdabhi23 you can notice yourself in the request playload only "hasura_id" is being sent.
If you use api-explorer in the console under auth>advance>Delet user
you can also notice it is making a request with request body where, ***the key "provider" is missing.***
![image](https://user-images.githubusercontent.com/29679880/34456518-82aac

[2017-12-31 01:55] Hyperclaw79 commented on #438
This issue was already fixed with a PR a few days ago.
Refer:
https://github.com/hasura/hello-react/pull/1

[2017-12-31 02:24] Hyperclaw79 opened #439 "Adding environment variables ( esp. secrets )"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
secret, hello-python-flask, env

**What happened**:
`hasura secrets update key value` is not able to set an environment variable that can be accessed from within `hello-python-flask`.

**What you expected to happen**:
A new env var should be created during runtime which is acces

[2017-12-31 05:04] shahidhk commented on #439
@Hyperclaw79, just setting a secret is not enough to add an environment variable. You need to edit `k8s.yaml` for the microservice and refer to the secret there.

In this case, you should add

[code]

We'll add a doc page dedicated to environment variables. In the meanwhile, you can checkout the [postgres doc](https://docs.hasura.io/0.15/manual/custom-microservices/connecting-to-postgres-from-micr

[2017-12-31 05:05] shahidhk commented on #439
Here is a doc dedicated to Secrets: https://docs.hasura.io/0.15/manual/project/secrets.html

[2017-12-31 06:24] smartclash commented on #437
@Hyperclaw79 , this is what I've been thinking. ***But it is not possible***. Let's look why.

- Google and Github does not allow the webmasters to send the credentials via any service or servers except theirs. So, doing this is like a **violation against their privacy policy and TOS.**
- Even if they had allowed (impossible) the user has to **manually allow/prevoke access** to their account data

[2017-12-31 06:28] smartclash commented on #439
Why not probably use another command like `hasura env` that creates environment variables and requires no configuration over the `k8s.yaml`? This makes sure that the secrets and env are in different paths and do not interfere with each other. @shahidhk

[2017-12-31 07:15] Hyperclaw79 commented on #439
@shahidhk This worked in the following use case. However, I already read the docs and manually edited `k8s.yaml` for my repo where I am trying to implement a python wrapper for Jaison's fb bot, I was getting a `Key not found in defaults/hasura` error.
Now it is fixed. I had to change the secret name a bit.
Sorry for the inconvenience. I'll be closing this.

[2017-12-31 07:16] #439 closed

[2017-12-31 13:19] ecthiender commented on #418
@chinmoyeedash can you link the PR in this issue? So we can track and close the issue once it gets merged.

[2018-01-02 06:00] dsandip commented on #438
doesn't look like the latest version of `hello-react` has been deployed. @jaisontj @wawhal

[2018-01-02 06:14] shahidhk commented on #437
We were also thinking about this issue, where you might need to login from a system which cannot run a browser, for example, a remote server which does not have a display manager running.

We cannot remove browser out of the equation as the login happens on hasura.io via oauth through a browser. But, we can solve for the use case mentioned earlier by letting the user login on a different browser o

[2018-01-02 06:26] praveenweb commented on #309
From v0.15, api-console makes API calls via hasura cli and no login is required in console.

Closing this.

[2018-01-02 06:26] #309 closed

[2018-01-02 06:29] praveenweb commented on #62
Not part of api-console. Should be part of hasura cli? @shahidhk

[2018-01-02 06:41] praveenweb commented on #299
@jaisontj - Saving client ids/secrets are now part of conf and applied by hasura cli.
So closing this.
@coco98 - No ban required ;)

[2018-01-02 06:41] #299 closed

[2018-01-02 07:22] shark-h commented on #424
Issue raised at- https://github.com/hasura/support/issues/431
Closing this.

[2018-01-02 07:22] #424 closed

[2018-01-02 07:24] coco98 commented on #62
This can be added just as docs for now actually. No need to add this as a hasura feature necessarily.

[2018-01-02 07:37] coco98 commented on #432
@karthikvt26 comments?

[2018-01-02 07:41] shahidhk commented on #436
@Hyperclaw79  @Naveen7892  If you login via different methods, but same email, they are treated as separate accounts. This is because some social account providers does not provide emails and hence, it is not straightforward to link accounts.

 So, make sure you login with the same method always.

[2018-01-02 07:41] #436 closed

[2018-01-02 07:47] brijeshshah13 commented on #424
@shark-h #431 was about the changes in the CLI, whereas this issue is regarding the documentation part of the quickstart apps. Wouldn't they be different?

[2018-01-02 07:54] shark-h commented on #424
@brijeshshah13 Having those changes will make these issues go away. :)

[2018-01-02 09:27] #437 closed

[2018-01-02 09:34] shahidhk commented on #433
@smartclash Totally understand this. As I had mentioned earlier in Slack etc. this is a beta trial we are conducting with our interns. You feedback like the one above is really important for us to improve the developer experince with Danava. We will apply some fixes and get back to you.

[2018-01-02 09:40] shahidhk commented on #430
This is an open issue at https://github.com/spf13/cobra/issues/578 and a PR is already open: https://github.com/spf13/cobra/pull/588

Will update our cobra version once the change is merged.

[2018-01-02 09:48] shahidhk commented on #429
@coco98, tracked at https://github.com/hasura/platform/issues/624

[2018-01-02 10:13] karthikvt26 commented on #428
Hey guys,

Thanks for reporting this issue. It is fixed now.

[2018-01-02 10:13] #428 closed

[2018-01-02 10:37] shahidhk commented on #431
Thanks for the suggestion, we are working on this.

(internal use: tracked at https://github.com/hasura/hasuractl/issues/596)

[2018-01-02 10:43] shahidhk commented on #427
@sharmasoumyadip would you like to open a PR at hasura/docs with your recommendations?

[2018-01-02 10:44] shahidhk commented on #427
@sharmasoumyadip  would you like to open a PR at https://github.com/hasura/docs with your recommendations?

[2018-01-02 11:09] muqeeth opened #440 "grammatical mistake in Filestore API docs"
** grammatical mistake **:

/kind grammar

Bug report
----------

**File store API**

**You are required to generate a unique file_id for the file, and the send the file contents in the request body and setting the Content-Type header set to the file’s MIME type.**:
should be corrected as
**You are required to generate a unique file_id for the file, and then send the file contents in the request b

[2018-01-02 11:33] coco98 commented on #440
Thanks @muqeeth! Please feel free to fix the typo and open a PR :)

[2018-01-02 12:14] karthikvt26 commented on #397
This section is disabled from the dashboard. Closing it.

[2018-01-02 12:14] #397 closed

[2018-01-02 12:15] karthikvt26 commented on #384
@dsandip can you confirm if there are still zombie projects?

[2018-01-02 12:17] karthikvt26 commented on #259
Removed this from dashboard.

[2018-01-02 12:17] #259 closed

[2018-01-02 12:17] karthikvt26 commented on #244
This is removed from dashboard.

[2018-01-02 12:17] #244 closed

[2018-01-02 12:18] karthikvt26 commented on #238
This list is out of date. So closing.

[2018-01-02 12:18] #238 closed

[2018-01-02 12:19] karthikvt26 commented on #223
This is removed from dashboard. Closing

[2018-01-02 12:19] #223 closed

[2018-01-02 12:19] karthikvt26 commented on #204
This is done.

[2018-01-02 12:19] #204 closed

[2018-01-02 12:20] karthikvt26 commented on #175
This issue is out of date with the current design. Closing it

[2018-01-02 12:20] #175 closed

[2018-01-02 12:20] #144 closed

[2018-01-02 12:20] karthikvt26 commented on #185
This issue is out of date with the current flow. Closing it

[2018-01-02 12:20] #185 closed

[2018-01-02 12:21] karthikvt26 commented on #189
This issue is out of date with the current flow. Closing it

[2018-01-02 12:21] #189 closed

[2018-01-02 12:21] karthikvt26 commented on #191
Done.

[2018-01-02 12:21] #191 closed

[2018-01-02 12:21] karthikvt26 commented on #194
Duplicate of #334

[2018-01-02 12:21] #194 closed

[2018-01-02 12:32] dsandip commented on #384
We can park this for now.

[2018-01-02 12:32] #384 closed

[2018-01-02 13:36] smartclash opened #441 "CLI returns useless information about RSA key problem"
/kind bug

Bug report
----------

**What happened**:

I deleted the RSA keys that I used for SSH. The Hasura CLI had those keys in trusted list to the corresponding cluster. Now, when I try to push to the cluster, it reports with a useless error message that nearly does not help debug the problem:

**What you expected to happen**:

It is possible to know that the keys we expect is not found, we ca

[2018-01-02 13:37] smartclash commented on #440
And, consider updating your CLI using this command `hasura self-update` @muqeeth

[2018-01-02 15:04] Hyperclaw79 commented on #441
I think it should be a `/kind feature request` instead of a bug. It's not exactly a bug per se and moreover, the `make sure you have the correct access rights` does imply along the lines of what it means. But yes, having a more verbose error report will definitely help.

As of now, it's not a breaking type of error because the likelihood of deleting the ssh keys is relatively low compared to CLI r

[2018-01-03 07:02] coco98 commented on #441
@Hyperclaw79 you're on the dot.

@smartclash Your suggestion is very useful, but there's actually nothing you can do about this because this is an SSH error, and error handling is done by git. We can't override it.

If you use git normally with github/bitbucket you'll see similar edge cases where you'll see errors that dont 'make sense' too.

[2018-01-03 07:02] #441 closed

[2018-01-03 07:13] shahidhk commented on #440
Fixed in https://github.com/hasura/docs/pull/294

[2018-01-03 07:13] #440 closed

[2018-01-03 11:06] Hyperclaw79 opened #442 "Docker microservice not working."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
 docker
**What happened**:
 Unable to deploy custom docker microservice. Got a Error as:

[code]

**What you expected to happen**:

Successfully deploy a docker ms.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Environment**:
- Hasura project type:

[2018-01-03 12:35] Hyperclaw79 opened #443 "Merge setting of Route and Remote for custom microservices with the generate command."
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
 Since the `routes.yaml` and `ci.yaml` are common for all the microservices, modify `hasura ms generate` to incorporate these two within itself.

**Describe your application use case that would benefit from this feature**
Decreases the number of required user commands, saving time and effort. Seems a bi

[2018-01-03 12:45] shahidhk commented on #443
@Hyperclaw79 , while this reduces the number of commands to be run, `hasura ms generate` creates config files (source too in case from a template) required for a microservice, which did not exist before.

`generate-route` and `generate-remote` outputs the conf required for a microservice. It is the developer's responsibilty to add the conf to corresponding files, `ci.yaml` and `routes.yaml`

The d

[2018-01-03 12:45] #443 closed

[2018-01-03 12:48] shahidhk commented on #442
Thanks @Hyperclaw79

This error was fixed in https://github.com/hasura/docker-base/commit/d2ccfef271d282dd63791ee58056bb47a1e8a19a but was not propogated everywhere. We have fixed it now.

[2018-01-03 12:48] #442 closed

[2018-01-03 13:02] Hyperclaw79 commented on #443
Ah I see. Thanks for the information. :)

[2018-01-03 14:02] Hyperclaw79 opened #444 "hasura login should prompt for logout if user is already logged in"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
 login, session, auth

**What happened**:
Even after logging in, when I typed `hasura login` in the CLI, it again opened up the browser and asked me to login.

**What you expected to happen**:
The CLI should maintain a session and notify the user with a message such as:
[code]
*

[2018-01-03 15:48] NandaKishorJeripothula opened #446 "Hasura hello-react docs local development guide need to be removed."
**BUG REPORT**:

/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
forward command, hasura forward, hasura local development

**What happened**:
The docs here https://hasura.io/hub/project/hasura/hello-react#local-development
contains the local development guide which is not available actually
( Deprecated-- verified by shark )

[2018-01-03 17:41] chinmoyeedash commented on #418
[PR for this issue](https://github.com/hasura/hello-react-native/pull/2)

[2018-01-04 04:45] shahidhk commented on #442
Thanks @Hyperclaw79

This error was fixed in https://github.com/hasura/docker-base/commit/d2ccfef271d282dd63791ee58056bb47a1e8a19a but was not propogated everywhere. We have fixed it now.

[2018-01-04 06:41] dsandip commented on #446
@NandaKishorJeripothula @shark-h The local development being referred to here is about being able to run the React app locally for quicker iterations (instead of having to `git push` for every change) and does not refer to the local development feature of Hasura that was deprecated a while back.

[2018-01-04 06:42] shark-h commented on #440
@smartclash There's no such command as `hasura self-update`

[2018-01-04 06:54] dsandip opened #447 "Deprecated hasura CLI command used in hello-react's README"
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
port, forward, react

**What happened**
The `Local development` section in https://hasura.io/hub/project/hasura/hello-react#local-development refers to the deprecated Hasura CLI command `hasura forward..` instead of `hasura microservice port-forward..`

**What you expected to happen**: The

[2018-01-04 07:50] smartclash commented on #440
Oops, my bad. Got confused with another CLI Tool's command. Edited the answer @shark-h

[2018-01-04 10:41] NandaKishorJeripothula commented on #446
Then at least testing of custom service locally need to be removed....
Since we are getting errors with hasura forward command..
And for local development, react scripts with cluster name can't initiate
'npm start' locally... For that proper guidance on local development( npm
start ) should be provided

[2018-01-04 11:20] jaisontj commented on #446
@NandaKishorJeripothula Could you paste the logs for the errors you are facing with npm start.

Also, the issue with running the custom service locally is that the hasura command for it has changed, this will be fixed asap.

[2018-01-04 12:49] Hyperclaw79 commented on #446
@NandaKishorJeripothula I have already opened a PR that will fix `npm start`
https://github.com/hasura/hello-react/pull/2/commits/49e55631f628c0d7f9e0dfa4bb21a4effbda259d

[2018-01-05 10:00] Hyperclaw79 opened #448 "Haskell-Spock Microservice build failed"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
haskell

**What happened**:
While trying to deploy the default haskell-spock microservice, got the following error:
[code]

**What you expected to happen**:
Successfully deploy the haskell-spock ms.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Env

[2018-01-05 10:46] Hyperclaw79 opened #449 "AngularJS microservice build failed"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
angular

**What happened**:
While trying to deploy the default angular-js microservice, got the following error:
[code]

**What you expected to happen**:
Successfully deploy the angular-js ms.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environme

[2018-01-05 13:35] ashwani99 commented on #402
I want to work on this.

[2018-01-05 13:46] Hyperclaw79 opened #450 "Runtime error in PHP-Laravel Microservice"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
laravel
**What happened**:
Got a runtime error after deploying the default php-laravel microservice.
![image](https://user-images.githubusercontent.com/29298411/34611694-86480a9a-f24c-11e7-9016-36383147ed4a.png)

**What you expected to happen**:
Successfully run the deployed php

[2018-01-05 14:44] dsandip commented on #352
No longer applicable

[2018-01-05 14:44] #352 closed

[2018-01-05 17:00] Hyperclaw79 opened #451 "Missing quickstarts for microservice templates"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
missing

**What happened**:
Some of the modules are missing for the cloning while their microservice alternatives are available.
List of missing microservices:

- java-spring-boot
- go-raw
- js-angularjs
- typescript-angular
- mysql
- php-laravel
- schemaspy
- go-iris
- nodejs-e

[2018-01-07 13:11] smartclash commented on #450
Okay, with my experience in Laravel, I can tell that this error is not related to Hasura. The error pops up because the `APP_KEY` was not set properly in the `.env` file. You should add a composer script that listens to the `post-install-cmd` event and generates the key that is in base64 format. And yeah, this laravel version is way too old. It's time for an update.

Add this little snippet inside

[2018-01-07 13:17] Hyperclaw79 commented on #450
@smartclash Thanks for the suggestion but

I never said it was related to the CLI. The module within the quickstart needs a fix to overcome that error. Hence, it is a bug technically.
Anyways, I'll try your fix later. 👍

[2018-01-07 15:22] smartclash commented on #450
After wasting time and gaining knowledge researching, and talking to Taylor (Creator or Laravel) I found out this is not a issue and it is made intentionally. The laravel creates a key at the time of creating a project. When you deploy the project, it is the work of a developer to setup an environment variable with a base64 encoded string.

All you need is to add a `APP_KEY` environment variable t

[2018-01-07 15:31] subhasis10 opened #452 "Python-Flask quickstart worker timeouts"
/kind bug

Bug report

----------

**What happened**:
After adding my existing flask code and pushing it successfully, when I tried to access my custom url [https://app.ambulate67.hasura-app.io](https://app.ambulate67.hasura-app.io) I got a 504 error: Gateway Timeout. And it works locally fine.
When I tried `hasura microservice list` it showed the app status as error.
![screenshot from 2018-01-07

[2018-01-07 16:34] Hyperclaw79 commented on #450
Ah good.
@smartclash I will close the issue once @shahidhk or @jaisontj merges your PR. 👍

[2018-01-07 16:46] Hyperclaw79 commented on #452
I don't think this is what the question means. You need to list out a series of steps to follow that would lead to this exact same issue.

[2018-01-07 17:03] Hyperclaw79 opened #453 "Edit the route in the docs."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
migrate, migration, ctl, cli

**What happened**:
The url in the docs uses the keyword `hasuractl` for `hasura cli reference`.

**What you expected to happen**:
It should've been `hasuracli` instead after the migration.

**How to reproduce it (as minimally and precisely as possib

[2018-01-07 20:51] geekysrm opened #454 "Missing link in README of android quickstart project"
/kind bug

Bug report
----------
**What happened**:
In the Hasura [hello-android project](https://hasura.io/hub/project/hasura/hello-android), under the `Testing your custom service locally` section, it reads :

_...accessing the internal data endpoint (Read more about internal and external endpoints `here`)..._
But there is no link to anywhere about internal and external endpoints

**What you exp

[2018-01-07 21:13] geekysrm opened #455 "Weird text in Hasura Docs"
/kind bug

Bug report
----------
**What happened**:
After going to https://docs.hasura.io/0.15/manual/hasuractl/hasura.html, and looking under `Synopsis` section, we notice some weird text as shown:

![hasura-doc-isssue](https://user-images.githubusercontent.com/10224804/34654125-163a27c4-f41d-11e7-98fb-31f3fc9af9b8.png)

**What you expected to happen**:
It shoudn't be there.

**How to reproduce i

[2018-01-08 05:05] shahidhk commented on #455
Thanks @geekysrm , this has been fixed in https://github.com/hasura/docs/commit/884d8c3c154f759ce0428ca730b934cba42c5f34

[2018-01-08 05:05] #455 closed

[2018-01-08 05:06] shahidhk commented on #454
/cc @jaisontj please review

[2018-01-08 05:13] shahidhk commented on #453
@Hyperclaw79 `hasuractl` is the internal name used for `hasura cli` hence the URL. We'll change it soon since the URL has been linked to from many places.

[2018-01-08 05:19] shahidhk commented on #402
@jaisontj please take note

[2018-01-08 05:30] shahidhk commented on #449
Thanks @Hyperclaw79

Fixed in https://github.com/hasura/microservice-templates/commit/daf293247cba0222fa1d9d1eb862826ac985b6b1

[2018-01-08 05:30] #449 closed

[2018-01-08 12:11] vaibhavk98 opened #456 "Getting error while pushing to hasura cluster"
**Is this a BUG REPORT or a FEATURE REQUEST or a HOWTO REQUEST?**:

/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
Searched hasura push causing error remote end hung up unexpectedly

**What happened**: Attaching text to this
I am having this error when I do git push hasura master
$ git push hasura master
Counting objects: 73

[2018-01-08 12:50] tirumaraiselvan opened #457 "Send emails to multiple recipients through Notify service"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Notify should be able to send emails to multiple recipients through a single API call

**Describe your application use case that would benefit from this feature**
Send marketing emails, etc to bulk users

**Environment**:
- Hasura cluster type: All

[2018-01-08 13:54] tirumaraiselvan commented on #456
@shahidhk This seems like a Windows specific issue. I am able to push in his cluster from my local.

[2018-01-08 16:25] #339 closed

[2018-01-08 16:25] #379 closed

[2018-01-08 16:26] #345 closed

[2018-01-08 18:38] coco98 commented on #452
@tirumaraiselvan @shahidhk Is the quickfix to reduce the number of workers?

[2018-01-08 18:41] coco98 commented on #453
Closing this in favour or hasura/docs#303.
Thanks @Hyperclaw79  :)

[2018-01-08 18:41] #453 closed

[2018-01-08 19:17] coco98 commented on #450
@smartclash @Hyperclaw79 I've updated the `microservice-templates` repo based on @smartclash 's original PR.

I've done a few things to make sure `git push hasura master` works in one shot:
1. I've included a default app_key
2. I've referenced the DB_PASSWORD env variable (this prevents the need to manually set password etc.)

In the next few days, we'll be making an update to the hasura cluster p

[2018-01-08 19:18] coco98 commented on #450
@Hyperclaw79 Do try it out and let me know. If everything works, we can close this issue!

[2018-01-08 20:32] Hyperclaw79 commented on #450
@coco98 oh, thanks for the update sir.Right now, I'm away from my laptop, will let you know as soon as I test it out in the morning tomorrow.

[2018-01-09 04:30] shahidhk commented on #452
@coco98 Guess so. @tirumaraiselvan Did you try it out on the issue you were working on? If yes, I will make the changes and publish

[2018-01-09 04:34] shahidhk commented on #345
@rishavanand `hasura update-cli` is now available

[2018-01-09 04:35] shahidhk commented on #379
Social accounts and email/password logins will give different user accounts

[2018-01-09 04:36] shahidhk commented on #456
@tirumaraiselvan  More of a network issue I guess. @vaibhavk98 can you change your network and try again?

[2018-01-09 04:54] shahidhk commented on #444
@Hyperclaw79 This is not a bug. It is a convenience for those who use multiple accounts (us 😄 ). But, I get what you are saying. If the user is already logged in, there is no need to proceed to login again. Will make the update.

Tracked at https://github.com/hasura/hasuractl/issues/653

[2018-01-09 05:16] vaibhavk98 commented on #456
Ok i u say so, but I don’t think its a network issue... I was able to push earlier on same network and I am still be able to push on GitHub repo. How is that possible then sir?
From: Shahidh K Muhammed
Sent: 09 January 2018 10:06 AM
To: hasura/support
Cc: vaibhavk98; Mention
Subject: Re: [hasura/support] Getting error while pushing to hasura cluster(#456)

@tirumaraiselvan More of a network issue

[2018-01-09 05:39] aqelkp commented on #457
It would be nice to have for SMS also.

[2018-01-09 08:12] coco98 commented on #444
@Hyperclaw79 Closing this issue for now because this is how most tools behave. Eg: docker login.

[2018-01-09 08:12] #444 closed

[2018-01-09 11:47] smartclash commented on #450
Hey @coco98,

Tested the project and it is working as fine as expected. But yeah, it shows some problems which are made intentionally. The composer does not copy `.env.example` to `.env` thus reports an error. And, the composer does not execute `php artisan key:generate` and again results in a new issue.

All the problems above are not problems but are made just to prevent problems in the future.

[2018-01-09 12:32] coco98 opened #458 "[hasura CLI] Update search output command"
/kind feature

Based on the discussion at https://github.com/hasura/docs/pull/302
I suggest that we update `hasura search` output to:

[code]

I think this makes sense? The current output of the search command is actually quite confusing because I have no idea what it's search and where.

[2018-01-09 13:06] vaibhavk98 commented on #456
still coming that error but this time ALSO with my first cluster ( name: demure48 )

[2018-01-09 20:51] #427 closed

[2018-01-10 04:53] shahidhk commented on #452
@tirumaraiselvan Done

[2018-01-10 10:23] shahidhk commented on #458
Added in `v0.2.33`

[2018-01-10 10:23] #458 closed

[2018-01-10 12:15] ashwani99 opened #459 "Cannot run hasura under sudo"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
sudo hasura update-cli
**What happened**:
Running `sudo hasura update-cli` shows error `sudo: hasura: command not found`
**What you expected to happen**:
Hasura CLI commands cannot be run under sudo. For updating hasura CLI we need to run it under sudo. The hasura CLI commands s

[2018-01-10 12:40] shahidhk commented on #459
@ashwani99 is `/usr/local/bin` present in your `PATH` as sudo?

Execute `sudo env | grep /usr/local/bin`

[2018-01-10 12:47] ashwani99 commented on #459
@shahidhk It is not present there. Got it 👍

[2018-01-10 18:00] addypt opened #460 "Hasura api-console auto-generated api code for Node Fetch not working as expected"
/kind bug

Bug report
----------

 **What terms/phrases did you search for on this github repo before filing this issue**

api-console, api-explorer, node fetch

**What happened**:

Auto-generated api code for "Node Fetch" in api console is not working as expected.

![alt text](https://i.imgur.com/rWT8Zly.png)

#### Error Message:
[code]

This issue prevails in all the auto-generated api code for

[2018-01-11 03:58] shahidhk commented on #460
/cc @jaisontj

[2018-01-11 03:59] shahidhk commented on #459
user's path configuration issue

[2018-01-11 03:59] #459 closed

[2018-01-11 06:38] jaisontj commented on #447
This is fixed.

[2018-01-11 06:38] #447 closed

[2018-01-11 18:44] sharmasoumyadip opened #461 "different response for wrong username and incorrect password"
/kind feature

Feature request
---------------
While logging in, using Hasura Auth API, it responds with  same body i.e. "invalid credentials"
![image](https://user-images.githubusercontent.com/29679880/34840794-170e913c-f72c-11e7-8c21-cde4f3252f82.png)
for both of the following cases,
1. username does not exist or wrong username
2. username in correct but password is worng

**What is the feature

[2018-01-12 21:29] #434 closed

[2018-01-12 22:37] sathya9897 opened #462 "api-console keeps loading."
@coco98

/kind bug

Bug report
----------

**What happened**:
when i tried to api-console the page just says "loading"
**What you expected to happen**:
It should have opened the api-console.
**How to reproduce it (as minimally and precisely as possible)**:
`hasura api-console`

**Environment**:

- Cluster type:
- Cluster name:
- OS/Arch/Version:
- Browser/Version:
- hasura CLI version: v0.2.34
- G

[2018-01-13 08:20] rocka0 opened #463 "Wrong Account name written in Python-Slack-Bot quickstart in the Hasura Hub"
/kind bug

Bug report
----------

There is a slight typo in https://hasura.io/hub/project/rishi/python-slack-bot#deployment-guide. For all those who want to quickstart the python-slack-bot, the instruction says:

![image](https://i.imgur.com/jmMyHcp.png)

However, on running `hasura quickstart coco98/python-slack-bot`, I get this output:

[code]
I guess you need to change the name from `coco98` to

[2018-01-13 11:29] priyamy opened #464 "dev-mode.yaml missing in hello-nodejs-express quickstart project"
/kind bug

Bug report
----------
**What happened**: On hasura cluster status, encountered error 1030 saying couldn't find dev-mode.yaml file.

![error](https://user-images.githubusercontent.com/31213361/34905595-3acb36b0-f854-11e7-8827-1c2a177efd58.png)

**How to reproduce it**: Experienced the same when tried to create a new project
hasura quickstart hello-nodejs-express
cd hello-nodejs-express
g

[2018-01-13 12:40] ashwani99 opened #465 "Hasura CLI shows no clear error message on missing credentials"
/kind bug

Bug report
----------

**What happened**:
Hasura CLI shows no proper error message indicating missing credentials to access the cluster. Instead shows cluster is deleted even though it is available on the dashboard.

**What you expected to happen**:
A good error message should be displayed to the user such as
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Dele

[2018-01-13 13:14] Lraji123 opened #466 "rename column feature"
Feature request
---------------
I want  to rename a column Name. But i am not able to do so...
I created a table using Hasura console/DATA/Schema/ADD Tables
The table created successfully.I liked to change the column name since i misspell it.
when i click the modify button. I can only able to modify the data type not the column name.
I need to delete the entire column or use the query builder to r

[2018-01-13 13:22] Hyperclaw79 opened #467 "Local Storage support for secrets."
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
A command to freeze cluster secrets into a file on the local system.

**Describe your application use case that would benefit from this feature**
When the user is dealing with multiple clusters for the same project, he needs to remember all the common secrets. If one of the cluster is old, he may forget

[2018-01-13 15:38] smartclash commented on #461
I kind of support this feature but also appose it. Showing whether the Account exists or password for a username is incorrect are bad practices and allows the hacker to gain some information about the account. The best practice is to show Invalid Credentials to all kind of errors instead of telling what's wrong. This leaves the hacker clueless.

Check this article and you can know more: https://ha

[2018-01-13 15:53] smartclash opened #468 "Wrong status response after deleting the file using Filestore API"
/kind bug

Bug report
----------

**What happened**:

After deleting the file using Filestore the API, the JSON response has a `key->value` pair called `"file_status": "response_object"`. The `file_status` must be set to `deleted` but after deleting the file, it responds with `uploaded` status which is wrong.

**What you expected to happen**:

I expect the `file_status` key in the response to have

[2018-01-13 15:57] rocka0 commented on #464
I noticed that most Hasura quickstart repositories have a `dev-mode.yaml` except for Hello Android: https://github.com/hasura/hello-android/tree/master/conf.

All these repositories that have the file `dev-mode`, the content in them is the same:

`gateway: true`

I will see if it works if I manually add the dev-mode.yaml

[2018-01-13 16:18] rocka0 commented on #464
Yes, I have fixed the issue with the PR at -> https://github.com/hasura/hello-nodejs-express/pull/6

[2018-01-13 16:35] rocka0 opened #469 "Missing dev-mode.yaml in Hello-Android quickstart"
/kind bug

Bug report
----------

The `dev-mode.yaml` is missing in the https://github.com/hasura/hello-android Hello-Android quickstart.

This leads to the error:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Run
[code]

**Environment**:

- Cluster type:  free-trial
- OS/Arch/Version:  Windows 10 64-bit Build
- hasura CLI version: 0.2.34

[2018-01-13 16:38] rocka0 commented on #469
I have created a PR to fix the same at https://github.com/hasura/hello-android/pull/2

[2018-01-13 16:49] rocka0 opened #470 "Missing dev-mode.yaml in Hello World quickstart"
/kind bug

Bug report
----------

The `dev-mode.yaml` is missing in the https://github.com/hasura/hello-world Hello-World quickstart.

This leads to the error:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Run
[code]

**Environment**:

- Cluster type:  free-trial
- OS/Arch/Version:  Windows 10 64-bit Build
- hasura CLI version: 0.2.34

[2018-01-13 16:52] rocka0 commented on #470
The PR with the fix for this has been made here: https://github.com/hasura/hello-world/pull/2

[2018-01-13 17:10] 0x777 commented on #468
Thanks for the report. It will be fixed in the next release.

[2018-01-13 17:10] 0x777 commented on #470
Merged

[2018-01-13 17:10] #470 closed

[2018-01-13 17:21] rocka0 opened #471 "Missing dev-mode.yaml in multiple repositories"
/kind bug

Bug report
----------

The `dev-mode.yaml` was missing in several repositories which have been identified as:

1) https://github.com/hasura/hello-csharp-aspnet

2) https://github.com/hasura/hello-r-shiny

3) https://github.com/hasura/hello-iOS

4) https://github.com/hasura/hello-swift-vapor

5) https://github.com/hasura/hello-java-spark

6) https://github.com/hasura/hello-swift-perfect

[2018-01-14 04:42] vaibhavk98 commented on #456
It solved my problem before but still the problem again occurs each time I do git push hasura master...This is what I get =>
$ git push hasura master
• Pushing to cluster hasura [adumbration35]...
✓ Existing migrations have already been applied
✓ Configuration applied
✓ Updated cluster=hasura [adumbration35] microservice=api
Counting objects: 111, done.
Delta compression using up to 4 threads.
Com

[2018-01-14 08:55] coco98 commented on #462
@praveenweb Can you take a look?
@sathya9897 It might be helpful for @praveenweb if you're able to add him as a collaborator to your hasura cluster it might help in reproducing the issue. Perhaps before that can you hit inspect element and see if there are any "network" or javascript errors posted in the "console"?

[2018-01-14 09:02] sathya9897 commented on #462
The error is as follows shown in the developer console
    Uncaught (in promise) TypeError: Cannot read property 'is_active' of null
    at main.js:1
    at Array.map (<anonymous>)
    at b (main.js:1)
    at beginWork (vendor.js:19)
    at o (vendor.js:19)
    at a (vendor.js:19)
    at s (vendor.js:19)
    at w (vendor.js:19)
    at y (vendor.js:19)
    at p (vendor.js:19)

[2018-01-14 09:04] coco98 commented on #462
@sathya9897 Any network request failures? Also, this is not happening for you for any fresh quickstarts right?

[2018-01-14 09:05] sathya9897 commented on #462
this is happening the twitter app that was deployed as part of task 2 individual

[2018-01-14 09:06] coco98 commented on #467
Something like a `hasura secrets export` type command?
@shahidhk What do you think?

[2018-01-14 09:13] coco98 commented on #463
@wawhal Can you update?

[2018-01-14 11:24] Hyperclaw79 commented on #467
@coco98 Precisely. Along with a `hasura secrets import`.

[2018-01-14 11:43] priyamy opened #472 "Data Model examples missing in Data Modeling Docs"
/kind bug

Bug report
----------
**What happened**: In Data Modeling of Documentation, the last section says Data Model Examples. The title is present but no content is given.

**What you expected to happen**: Data Model examples to be present

**How to reproduce it (as minimally and precisely as possible)**:
https://docs.hasura.io/0.15/manual/data-modelling/index.html

**Environment**:

- Cluster

[2018-01-15 05:26] gbaz commented on #448
if you `stack upgrade` to the latest version it will resolve this issue.

[2018-01-15 09:17] tirumaraiselvan commented on #433
@smartclash We have released a new version of the platform. Can you check the response times now?

[2018-01-15 10:15] smartclash commented on #433
Sure, will do that shortly

[2018-01-15 12:20] smartclash commented on #433
Awesome, the response is faster. It responds in 2.39 seconds. But it does not perform as it was said on the website. Production apps look for more speed. Even 2 seconds is slow for my production apps, not for my side-project/hpdf projects.

But, overall, good work and can be done even better @tirumaraiselvan

[2018-01-15 12:24] tirumaraiselvan commented on #433
The performance on free tier will not be as great as free tier to hardware difference. We will mention in the website too.

[2018-01-15 12:25] #433 closed

[2018-01-15 12:29] smartclash commented on #433
I think you wanted to say paid tier and due to hardware difference. @tirumaraiselvan

[2018-01-15 15:58] smartclash commented on #472
This ain't a bug. And moreover, this issue shouldn't be opened here. Any issues should be opened at related to documentation should be opened at https://github.com/hasura/docs/issues @priyamy

[2018-01-16 09:51] #463 closed

[2018-01-16 11:51] shark-h commented on #462
@praveenweb Same error occurred with me as well on nginx-quickstart, cleared the cookies and tried again and it worked, couldn't reproduce it again though.

[2018-01-16 15:29] rocka0 commented on #464
@coco98 I think you can close this issue, the [PR](https://github.com/hasura/hello-nodejs-express/pull/6) was accepted.

[2018-01-16 15:32] rocka0 commented on #469
@jaisontj you can close this issue as the PR was merged.

[2018-01-16 15:33] #469 closed

[2018-01-16 19:36] coco98 opened #473 "[via intercom] Improve `hasura ms remove`"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Remove `ci.yaml` and `routes.yaml` entries automatically

"hasura microservice remove someservice" should also remove corresponding entries in the route and CI files in the conf folder. At the moment it just leaves the entries there. Not sure if this is a feature but it seems counter-intuitive to me.

C

[2018-01-17 02:53] praveenweb commented on #462
@sathya9897 - can you try clearing cookies as @shark-h mentioned and see if you are still able to replicate this issue?

[2018-01-17 05:02] sathya9897 commented on #462
it got fixed when cleared cookies.

[2018-01-17 05:12] praveenweb commented on #462
@sathya9897 - I'm guessing it was a temporary issue. Closing this for now. Will reopen if more people report.

[2018-01-17 05:12] #462 closed

[2018-01-17 12:41] rocka0 opened #474 "Error in hasura migration create command help"
/kind bug

Bug report
----------

There seems to be an error in the `hasura migration create ` command help. The help for the command by running `hasura migration create --help` gives me:

Firstly, create is misspelled as `Creaete` in the help. Furthermore, running the command as given in the help: `hasura migration create migration-name -c hasura` replacing migration-name with test migration, I g

[2018-01-18 06:37] shark-h opened #475 "`hasura cluster status` o/p update"
#/kind feature

Feature request
---------------

**What is the feature you would like to have?**
If a cluster is not added to the current project, `hasura cluster status -c clustername` should give the error as-

**Describe your application use case that would benefit from this feature**

Confusion arises because the current output is-

Which leads the user to run `hasura cluster list`, the cluste

[2018-01-18 08:08] praveenweb commented on #415
This has been deployed. Closing this.

[2018-01-18 08:08] #415 closed

[2018-01-18 08:57] praveenweb commented on #338
Email template editing is now part of conf/auth.yaml in hasura project.
@ecthiender - Can you confirm if a user can change their existing email id?

[2018-01-18 09:13] dsandip commented on #415
@praveenweb : Has the monitoring event been done too? Close after that has been done?

[2018-01-18 09:14] dsandip commented on #415
btw, the event should have a cs list of ids of messages in the window.

[2018-01-18 12:55] shahidhk commented on #471
`dev-mode.yaml` is an optional file. a bug in `v0.2.34` caused this error to occur, which has been fixed in `v0.2.35`

Thanks for the PR. They will be meged by individual owners.

[2018-01-18 12:55] #471 closed

[2018-01-18 12:57] shahidhk commented on #475
Fixed in https://github.com/hasura/hasuractl/commit/e1150be17503fa9d3f07055168b8882daf8351ed

[2018-01-18 12:57] #475 closed

[2018-01-18 13:14] shahidhk commented on #474
Thanks for the report

fixed in: https://github.com/hasura/hasuractl/commit/a22c9377e270da1de9026747b08ab1fd949c2c8e

[2018-01-18 13:15] shahidhk commented on #473
Since all the `conf/*.yaml` files are templates, we cannot really edit this files using the CLI.

We can improve the command output to give more contextual information on what exactly to remove.

[2018-01-18 13:18] shahidhk commented on #472
Moved to https://github.com/hasura/docs/issues/336

[2018-01-18 13:18] #472 closed

[2018-01-18 13:24] shahidhk commented on #467
@coco98, we can export the underlying kubernetes secret object as yaml and use the same to import.

Another idea could be for `update` command to take multiple key-value pairs.

[2018-01-18 13:27] shahidhk commented on #465
Thanks for the report @ashwani99

Fixed in https://github.com/hasura/hasuractl/commit/e1150be17503fa9d3f07055168b8882daf8351ed

Will ship with `v0.2.36`

[2018-01-18 13:27] #465 closed

[2018-01-18 13:27] #464 closed

[2018-01-18 13:28] shahidhk commented on #456
@tirumaraiselvan any leads here?

[2018-01-18 13:29] shahidhk commented on #452
workers have been updated to 1 in the quickstart

[2018-01-18 13:29] #452 closed

[2018-01-18 13:32] shahidhk commented on #79
I guess this documention gap have been filled

[2018-01-18 13:32] #79 closed

[2018-01-18 13:33] shahidhk commented on #95
Here: https://docs.hasura.io/0.15/manual/custom-microservices/deploy-docker/index.html

[2018-01-18 13:33] #95 closed

[2018-01-18 13:33] shahidhk commented on #320
Not relevant anymore

[2018-01-18 13:33] #320 closed

[2018-01-18 13:34] shahidhk commented on #377
https://hasura.io/hub/project/hasura/hello-nodejs-express

[2018-01-18 13:34] #377 closed

[2018-01-18 13:49] shahidhk commented on #414
These suggestions are implemented except prompting to delete the file, which I don't think is a good idea, since it's desctructive.

A better idea could be to prompt to create a new directory for cloning the project.

Tracked here: https://github.com/hasura/hasuractl/issues/680

[2018-01-18 13:49] #414 closed

[2018-01-18 13:59] Hyperclaw79 commented on #467
This sounds like a good idea. I am ready to do the documentation for this feature if it is implemented.

@shahidhk But from a user's perspective, imagine the unease in typing them all in one line within the cli.
I, as a user, would much rather store them all in a single file and pipe that in within a single command.

[2018-01-18 14:02] shahidhk commented on #420
Fixed

[2018-01-18 14:02] #420 closed

[2018-01-18 14:02] shahidhk commented on #421
Auto-update available from `v0.2.32`

[2018-01-18 14:02] #421 closed

[2018-01-18 14:20] Hyperclaw79 commented on #473
Would it be possible to cache the old `ci.yaml` and `routes.yaml` in a hidden folder for every ms create/remove operation and use those files as a reference?

For example, let's say I have `ci.yaml` and `routes.yaml`.

1. Now I add a ms `app` along with its routes and remotes.
    This should create `ci-app.yaml` and `routes-app.yaml` and store `ci.yaml` and `routes.yaml` in cache.

2. Now I creat

[2018-01-18 14:20] vaibhavk98 commented on #456
What does that <stdout> broken pipe means?? I always get that... Its when I committed more than 4 commits in time on that cluster.... This might lead u to solution... Or if u say, I can engage team viewer for u to look at the problem more closely... 🙂

[2018-01-18 18:30] coco98 commented on #201
Closing this as it was a overall tracking issue.

[2018-01-18 18:30] #201 closed

[2018-01-18 18:30] coco98 commented on #156
This is done on the new permissions page :)

[2018-01-18 18:30] #156 closed

[2018-01-18 18:31] coco98 commented on #117
Added: https://docs.hasura.io/0.15/manual/gateway/index.html#custom-domains

[2018-01-18 18:31] #117 closed

[2018-01-18 18:34] coco98 commented on #101
This is not really valid with 0.15 and a git based migration workflow.

[2018-01-18 18:34] #101 closed

[2018-01-18 18:34] ecthiender commented on #220
Fixed in new auth docs.

[2018-01-18 18:34] #220 closed

[2018-01-18 18:36] ecthiender commented on #285
Fixed in platform v0.15.

[2018-01-18 18:36] #285 closed

[2018-01-18 18:37] ecthiender commented on #294
Fixed in v0.15

[2018-01-18 18:37] #294 closed

[2018-01-18 18:37] coco98 commented on #100
This should go into the troubleshooting section for postgres docs.

[2018-01-18 18:37] coco98 commented on #92
@dsandip I feel like we don't have any specifics on this. Closing this issue until we have something tangible here.

[2018-01-18 18:37] #92 closed

[2018-01-18 18:38] ecthiender commented on #338
Yeah, fixed in v0.15

[2018-01-18 18:38] #338 closed

[2018-01-18 18:39] coco98 commented on #83
This is fixed now. Data API is ok with x-hasura-user-id instead of req-user-id as the template variable during permissions. Also new permissions interface addresses this problem head on.

[2018-01-18 18:39] #83 closed

[2018-01-18 18:39] ecthiender commented on #361
@dsandip is this still valid?

[2018-01-18 18:41] ecthiender commented on #363
@coco98 this is till required?

[2018-01-18 18:42] ecthiender commented on #207
Done as of platform v0.15. https://docs.hasura.io/0.15/manual/users/custom_provider.html . @coco98 what do you mean custom oauth modules? Social login?

[2018-01-18 18:44] coco98 commented on #86
@dsandip Do you remember what this meant?

[2018-01-18 18:45] coco98 commented on #82
Not required for internal endpoints anymore! Killing it....

[2018-01-18 18:45] coco98 commented on #76
@dsandip We don't have an interactive tutorial anymore. Closing this.

[2018-01-18 18:45] #76 closed

[2018-01-18 18:50] coco98 opened #476 "git push hasura master fails on windows if dev-mode.yaml absent."
/kind bug

hasura CLI v0.2.35 on windows 10 64-bit

`git push hasura master` does not work and exits with `C:\Users\xxx\AppData\Local\Temp\hello-nodejs-express007581299\conf\dev-mode.yaml: The system cannot find the file specified.`

Manually adding a `dev-mode.yaml` works.

Via: https://app.intercom.io/a/apps/rucirpb3/respond/inbox/882884/conversations/14146350540

@shahidhk @arvi3411301 Test on

[2018-01-18 19:06] coco98 commented on #363
@ecthiender I think we should have documentation for it atleast?

[2018-01-18 20:04] jaisontj commented on #454
This has been fixed. Closing.

[2018-01-18 20:04] #454 closed

[2018-01-18 20:25] jaisontj commented on #66
No longer relevant.

[2018-01-18 20:25] #66 closed

[2018-01-18 20:29] jaisontj commented on #281
@ecthiender @0x777 @rakeshkky @wawhal

Do all of the hasura services follow this ? or some form of standard format now ? If so, please close this issue, if not, we should get to this.

[2018-01-18 20:29] #282 closed

[2018-01-19 05:01] dsandip commented on #86
It had something to do with adding more information about unique constraints in either the console or docs although I can't remember what the required change was. My bad, should have been more detailed in the description.
Given we have this: https://docs.hasura.io/0.15/manual/data/alter-schema/index.html#alter-constraints, I am going to close this.

[2018-01-19 05:01] #86 closed

[2018-01-19 05:03] dsandip commented on #361
Nope.

[2018-01-19 05:03] #361 closed

[2018-01-19 07:50] shark-h commented on #450
@Hyperclaw79 Have you tested it?

[2018-01-19 07:51] smartclash commented on #450
It is working all fine from my side. Good to go :) @shark-h

[2018-01-19 07:55] #450 closed

[2018-01-19 07:59] shark-h commented on #408
@dsandip Let's close this?

[2018-01-19 08:02] shark-h commented on #399
hasuractl issue, no longer relevant, closing.

[2018-01-19 08:02] #399 closed

[2018-01-19 08:04] #408 closed

[2018-01-19 08:06] shark-h commented on #383
hasuractl; Deprecated.

[2018-01-19 08:06] #383 closed

[2018-01-19 08:07] shark-h commented on #381
@coco98 Let's close this now?

[2018-01-19 08:10] #355 closed

[2018-01-19 08:14] coco98 commented on #381
We can add multiple domains right now, but as of now subdomain configuration is common across all domains for now. `app.domain` == `app.domain2`.

[2018-01-19 08:41] dvkcool opened #477 "Compser : Dependency Manager for PHP feature request"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
 Like for Nodejs hasura has very nice support and we only need to update package.json and node modules are loaded.

Similarly I would like to request for composer, a dependency manager for php.
What I mean if we just update composer.json, the dependencies should be loaded and there is no need to install

[2018-01-19 08:43] shahidhk commented on #408
@welf We have released a new version of Hasura CLI with lots of new features, including cluster creation from the command line itself and deploying everything with a single `git push`. You can choose a starter kit from https://hasura.io/hub and try it out

[2018-01-19 08:52] coco98 commented on #477
@dvkcool Can you create a PHP hasura project add a composer.json file and link us to the github repo?
If you describe your ideal workflow to us then we'll be able to help you get the Dockerfile ready and you can publish it to hasura.io/hub as a php-apache-composer quickstart :)

Look forward to working with you on this if you're keen! It should take us only a few hours of collaboration. What say?

[2018-01-19 09:18] dk-learner commented on #477
Sure, Now I am in college
Maybe after evening or tomorrow
Anytime will do
It will be a pleasure to be able to collaborate and work with you

[2018-01-19 09:22] dvkcool commented on #477
Sorry commented by wrong id
dk-learner is my secondary id, will be happy to work with you

[2018-01-19 10:51] dsandip opened #478 "Missing Image in Hub Projects"
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
hub, missing, image
**What happened**: Some hub projects are missing images/screenshots.

**What you expected to happen**: The images should load.

**How to reproduce it (as minimally and precisely as possible)**:
Check out these links:
https://hasura.io/hub/project/hasura/hello-python-dja

[2018-01-19 11:13] dsandip opened #479 "Instructions for what to do if a user does not have a starter project on /hub"
How-to request
--------------

**What docs/how-tos/tutorials would you like to have?**
Instructions for what to do if I do not have or find a starter project on /hub
This requires thinking about the website also.

**Can you describe what you were trying to do that would benefit from this guide/docs/tutorial/how-to**

[2018-01-19 13:21] dvkcool commented on #477
Sir I have created a small PHP project as you said, and I have invited you both as collaborator
Invitation Link: https://github.com/dvkcool/php-apache-composer/invitations
Github project link: https://github.com/dvkcool/php-apache-composer
cluster name: certifiable87

To get this running locally I just have to run a command composer install, which generates a folder containing all the required dep

[2018-01-19 13:35] coco98 commented on #477
Awesome. I'm trying it out.

So basically stuff will get installed in the `vendor/` directory right?
And that means that we should add `vendor` to `.gitignore` (so that it doesn't get pushed or included in git).

[2018-01-19 13:36] dvkcool commented on #477
Yes a vendor folder and a composer.lock file is generated
Also in this case we may run composer install --no-dev

[2018-01-19 13:40] dvkcool commented on #477
I have a local setup of same, if required shall I make another git repo showing the local files too

[2018-01-19 13:45] coco98 commented on #477
No problem, I understood.

So the workflow to enable this so that everything happens on a `git push hasura master` should be as follows:

[code]

Then to the `api/Dockerfile` we need to add:

1. Install composer
2. Run composer install

And then that's it. `git push hasura master` should just work :)

I'm trying this out. Will you try it out as well?

[2018-01-19 14:56] dvkcool commented on #477
Sir I am almost close, but I am getting  a error of git not found

[2018-01-19 15:00] coco98 commented on #477
`git` not found? Where are you getting this error?

[2018-01-19 15:07] dvkcool commented on #477
While running git push hasura master
probably Docker log

[2018-01-19 15:16] coco98 commented on #477
Can you push your latest code to your github repo? I can check it out.

[2018-01-19 15:18] coco98 commented on #477
Sorry, saw it. Can you chuck the docker build output, or the git push hasura master output into pastebin or here? Should be able to debug it.

[2018-01-19 17:15] sharmasoumyadip opened #480 "FB login with hasura auth api responding with error for existing user"
/kind bug

Bug report
----------

**What happened**:
Using Hasura Auth API for Facebook provider as in [doc](https://docs.hasura.io/0.15/manual/users/facebook.html#login-signup-a-user-with-hasura-auth),
I obtained the fb `accesToken` and  send it to hasura auth microsevice using `API explorer`. And it worked fine, I logged out, tried to login using same fb `accessToken` [ in the first case I was c

[2018-01-19 18:33] dvkcool commented on #477
Finally its done,
turns out that I needed to install git to the Debian machine on server, which I did
And now it runs fine, would you like to check it.
It was quite an experience, I got to know some things about docker, thanks sir, because of this  I did learn something.
Here is the screenshot of file running
![screenshot from 2018-01-20 00-01-24](https://user-images.githubusercontent.com/29591144

[2018-01-19 19:02] sathya9897 opened #481 "deployment issue"
/kind bug

Bug report
----------

**What happened**:
I have created a new cluster and added a reactjs project to it and copy pasted my files but when I'm doing `git push hasura master` at the end it throws the error `deployment failed: ui` even though the files were pushed and ui was updated with my new files.

**How to reproduce it (as minimally and precisely as possible)**:

    hasura cluster c

[2018-01-20 07:55] coco98 commented on #477
@dvkcool Awesome! Yep, just a minor correction to your understanding. You had to install git in the debian docker 'container' which is kind of equivalent to a VM or server, but just FYI ;)

Also, what do you think about replacing L10-13 with
[code]

I'm getting this suggestion from the last line on: https://getcomposer.org/doc/faqs/how-to-install-composer-programmatically.md Whenever we want to up

[2018-01-20 08:46] dvkcool commented on #477
@coco98 , Thanks for the correction, sorry by mistake written it as machine
And about wget I tried that the commit tr9 (id: 6675fcd3f2076cf7e2716f1e8aee65504b21ad58)
https://github.com/dvkcool/php-apache-composer/commit/6675fcd3f2076cf7e2716f1e8aee65504b21ad58#diff-3f5409e88628c977f127be9887ccad45
It prompts error that wget is not recognized so I thought to work without wget.
And I did not publish

[2018-01-20 09:31] coco98 commented on #477
RUN apt-get install wget? In the Dockerfile before you run wget.

[2018-01-20 09:38] dvkcool commented on #477
@coco98 Actually my cluster is deleted, will try and let you know
But don't you think we shouldn't install much on container, like simple php command could do, also I did remove installer too, yes i added an extra command to verify installer, that I think could be removed.
Still I will try and let you know after I add a new cluster

[2018-01-20 09:45] dvkcool opened #482 "Cluster addition to existing project: Docs update"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
In docs, a note should be included that cluster.yaml should be empty before adding a cluster to present Hasura project, otherwise it gives kind of following error
`× Adding cluster failed error=[1015] Cluster asceticism82 exists with alias hasura
`
Also another note should be added that when we add new

[2018-01-20 10:01] coco98 commented on #477
@dvkcool Cool cool. Instructions to add a new cluster to an existing project:
`hasura cluster add` + `hasura ssh-key add`.

You're right, generally good to keep the containers light. However, I usually end up like having `wget` and `curl` in my containers for debugging with `exec` because they're tiny anyway.  Another idea is that you can apt-get remove after installing wget.
Also, this whole wget

[2018-01-20 10:03] coco98 commented on #482
@rikinsk Can you add:

1. Remove clusters.yaml cluster aliased hasura if you're going to be replacing it with a new one
2. `ssh-key add`

to this page: https://docs.hasura.io/0.15/manual/cluster/index.html#adding-a-cluster-to-a-project

[2018-01-20 10:08] dvkcool commented on #477
Tried it, works like charm and more importantly the length of code is reduced, I guess this was your objective,
Yes and it looks a lot cleaner

[2018-01-20 10:22] dvkcool commented on #477
Is there a way not to run
[code]
and still obtain the desired result because they do update too many packages increasing time and using space too, I tried removing them but then it fails to recognize git-core as a package, Any suggestions?

[2018-01-20 10:38] Hyperclaw79 commented on #481
I second this. I wasn't able to push a new react microservice for the first time and there were no logs because the container was not running. When I tried to git clone my original repo from the remote, I cloned an empty repo. But my previously pushed ms was running live.

[2018-01-20 10:54] Hyperclaw79 opened #483 "Cloning Existing Project returns empty repo"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
clone, empty

**What happened**:
When I tried to clone an old cluster of mine, it cloned an empty repo. This project was running live too.

**What you expected to happen**:
To clone the project with the previously pushed contents.

**How to reproduce it (as minimally and precise

[2018-01-20 10:59] dvkcool commented on #477
@coco98 sir I have published the project https://hasura.io/hub/project/dvk/php-apache-composer
Just take a look at it, and please tell if any changes are required

[2018-01-20 11:05] Hyperclaw79 opened #484 "Verbose Cluster Status"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Add the following data fields to the `hasura cluster list` command:
- Email the cluster is registered to.
- Age of the cluster. (as previously proposed)
- Most recently added microservice in that cluster.
- Status code. [Running, Orphaned, Deleted, Archived, etc.]
- Timestamp for when the cluster was he

[2018-01-20 11:33] dvkcool commented on #483
As much I understand not all files are copied and added to debian docker container.
So there is no point in cloning from it, unless you have configured your docker file to save your full project earlier.
However a better option is to add a remote repository as such on Github to your project so you can clone it later.

[2018-01-20 11:53] Hyperclaw79 commented on #483
When I clone and push to hasura, I believe the entire folder excluding the ones mentioned in the `.gitingore` gets stored on the remote machine inside a folder with my cluster name. And the dockerfile gets activated from within that and it runs on the localhost of the remote machine. So how would the app be live if the contents itself were wiped out? And I'm not even using a browser cache.

`>add

[2018-01-20 12:32] Hyperclaw79 opened #485 "Unable to add ssh-key without using quickstart."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
ssh
**What happened**:
If I manually add a cluster and try to add the ssh key, it fails because it is unable to connect to the remote host. There is no prompt asking me for confirmation to add the ssh key. Instead, it returns Error 1014, Could not connect to the cluster.
This do

[2018-01-20 13:36] dvkcool commented on #483
Sorry my bad you can clone, it does clone too,
I tried myself
[code]

[2018-01-20 13:38] Hyperclaw79 opened #486 "Microservice stuck on ContainerCreating."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
container creating

**What happened**:
I have two microservices running. I edited one of the microservice and pushed it. The edited microservice works but the previously running microservice (the other one) is stuck on `Waiting(ContainerCreating)` infinitely.
`hasura ms restart`

[2018-01-20 13:53] dvkcool commented on #485
Actually when you try to just modify cluster.yaml it will give error instead,
1. delete all contents of cluster.yaml
2. Add your new cluster to project by running `hasura cluster add something12 -c hasura`
3. now run `hasura ssh-key add`

It won't give you error then, I experienced this myself, by just changing cluster.yaml it doesn't work that well but this solves it. Try this and let me know if

[2018-01-20 14:20] Hyperclaw79 commented on #483
This issue is unique to the older clusters I believe. I created this cluster for task 2.

[2018-01-20 14:27] dvkcool commented on #483
I too have a cluster for task 2, tried the same with that, I was successful in that too
Here the output
[code]
Are you sure your cluster is not deleted, like if it was deleted, an empty git repo **might** reside on that location(Again I am not very sure about this).

[2018-01-20 14:35] Hyperclaw79 commented on #485
@dvkcool That is because you're suppose to change both `clusters.yaml` and the git remote using `git remote set-url hasura ssh://xyz@....`
Been there, done that.

To further prove my point, if I makes these changes on a new quickstart project, without using `cluster add`, I can get it to work.
This only happens when I simply copy the contents of an existing project to a new project.

[2018-01-20 14:36] Hyperclaw79 commented on #486
Looks like it got fixed by itself after an hour. Will close this for now.

[2018-01-20 14:36] #486 closed

[2018-01-20 14:38] Hyperclaw79 commented on #483
If it was deleted, I should've gotten an automated mail from support@hasura and the app shouldn't be running live.
See if you can access https://ui.bionic80.hasura-app.io/.

[2018-01-20 16:13] dvkcool commented on #485
@Hyperclaw79 , I don't know but I unable to reproduce your error I made a hasura base project, then just copied it to a new folder base (copy) [after deleting the cluster present in it]
Then here is the log
[code]

[2018-01-20 16:36] dvkcool commented on #483
Yes it is accessible, and great UI by the way.
I am not sure reason, but I tried to reproduce this error and I was unable to do so.
I guess its a problem with your specific cluster but I am sure Hasura will be able to help you,

[2018-01-20 19:25] Hyperclaw79 commented on #485
But this is where the major difference lies. You are deleting it. I never made a project. I copied an existing one into a new folder. The first time you create a quickstart project itself, the issue cannot be reproduced. Try what I am saying. Do not create a quickstart project at all. Just copy paste contents of an existing project into a blank folder (just create a new folder, not a quickstart I

[2018-01-20 19:27] Hyperclaw79 commented on #483
Thanks for verifying it.

I am thinking the same thing but a bug is a bug at the end of the day. Also, there might be other inactive clusters which faced this issue but nobody noticed it, so can't really ignore it other just in case.
I did mail them and I am awaiting a reply.

[2018-01-20 19:45] ashwani99 commented on #484
@Hyperclaw79 I would like to share my opinion on this. I feel `hasura cluster list` needs to output the owner's email attached to the clusters but not the rest as the CLI might look messy with so much information. The [dashboard](dashboard.hasura.io) is just for that purpose.

Currently, `hasura cluster list` gives two types of information - `Clusters available in your account:` and `Clusters adde

[2018-01-20 19:57] ashwani99 opened #487 "Open dashboard via CLI"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
A command to open [dashboard](https://dashboard.hasura.io/) via Hasura CLI
**Describe your application use case that would benefit from this feature**
To check cluster specific information (e.g status, provider/type) dashboard needs to opened. A command like `hasura dashboard` would be perfect for a com

[2018-01-20 20:11] ashwani99 opened #488 "Add collaborators to cluster via CLI"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
A command to add collaborators to a cluster via the CLI

**Describe your application use case that would benefit from this feature**
Currently a user can open the dashboard and add collaborators via the web interface. A command like `hasura cluster add-collaborator -c <cluster_name>` might be more conve

[2018-01-20 20:52] Hyperclaw79 commented on #484
@ashwani99

For cases where you'd rather prefer information over a neat cli, you can do a `hasura ms list -v` thus solving both the requirements. Or else, like you said, we can have minimalistic by not specifying the `-v` flag.

[2018-01-20 21:51] ashwani99 commented on #485
@Hyperclaw79 I am also unable to reproduce your error. Please re-check your `clusters.yaml` file.

The namespace should not be hasura. It should be like this: `namespace: <cluster_name>-hasura`. Try making the change and run `hasura ssh-key add` to see if there is any error.

[2018-01-21 05:33] dvkcool commented on #485
@Hyperclaw79 , Dude I made a project in base folder(existing project) and deleted its cluster.
Copied it to another folder base(copy) and then proceeded, how else should I  do it.

[2018-01-21 09:57] Hyperclaw79 commented on #485
@ashwani99 Yes, I altered only the cluster part in the `<cluster_name>`-hasura

@dvkcool Was this "folder base" created from a new quickstart or the remnant of an old one?
I meant make a new folder, a normal one. Not a folder created by `hasura quickstart`. Although technically speaking,  it shouldn't make a difference, but this was what is different between my method and yours.

That being aside,

[2018-01-21 10:04] Hyperclaw79 commented on #487
Or perhaps, open both the auth page and the dashboard in separate tabs on `hasura login`? This way, it wouldn't have to switch the context to the browser twice.

[2018-01-21 10:05] Hyperclaw79 commented on #488
And an option to import emails from a text file for bulk addition. That would be better than executing the command over and over for which teammate.

[2018-01-22 05:31] dsandip commented on #347
@rithikachowta08: Closing this. Can you please verify and open if this is not fixed.

[2018-01-22 05:31] #347 closed

[2018-01-22 05:33] #325 closed

[2018-01-22 05:34] dsandip commented on #317
Not relevant anymore. Closing this

[2018-01-22 05:34] #317 closed

[2018-01-22 05:35] dsandip commented on #315
@nithraaj : The docs for auth have been revamped. Can you please check if this is still applicable and open this if that is the case.

[2018-01-22 05:35] #315 closed

[2018-01-22 05:36] dsandip commented on #283
fixed in 0.15.

[2018-01-22 05:36] #283 closed

[2018-01-22 05:38] dsandip commented on #263
@karthikvt26 @coco98 : I think most of these issues have been resolved in some form or no longer applicable or raised as standalone issues. Closing this one.

[2018-01-22 05:38] #263 closed

[2018-01-22 05:39] shahidhk commented on #416
This issue has been fixed in `v0.2.33`

[2018-01-22 05:39] #416 closed

[2018-01-22 05:42] dsandip commented on #255
I am not sure if our current docs address this satisfactorily (https://docs.hasura.io/0.15/manual/data-modelling/index.html#derive-views). I think we should have a section on handling joins or complex queries as a separate section with an example (that goes beyond using relationships).

[2018-01-22 05:48] dsandip commented on #172
@itsinayats : Hey, can you verify Shahihd's last comment and reopen this if necessary.

[2018-01-22 05:48] #172 closed

[2018-01-22 05:49] dsandip commented on #130
https://docs.hasura.io/0.15/manual/users/admin_endpoints.html

[2018-01-22 05:49] #130 closed

[2018-01-22 05:50] dsandip commented on #120
@praveenweb : Reopen if still applicable?

[2018-01-22 05:50] #120 closed

[2018-01-22 05:52] dsandip commented on #43
@krish88077 : The developer experience for running custom microservices has completely changed and you shouldn't run into this error anymore. Closing this. Please reopen if necessary.

[2018-01-22 05:52] #43 closed

[2018-01-22 05:53] shahidhk commented on #483
The git remote on Hasura clusters are ephemerel, there are no guarantees provided on the availablity of them for cloning. You can always push to a hasura remote, but pulling/cloning might not always give your repo back. This is because the repo will be cleared whenever a configuration change happens. It is intended as a push only remote.

We recommend you store your project directory using an onli

[2018-01-22 05:53] #483 closed

[2018-01-22 05:55] Hyperclaw79 opened #489 "Rename Project to Cluster on Dashboard"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
dashboard
**What happened**:
Upon choosing to delete a cluster, the button still says "Delete **Project**" instead of "Delete **Cluster**" even after the v0.15 migration. Same case with the alertbox that follows.

**What you expected to happen**:
Appropriate Names.

**How to rep

[2018-01-22 05:55] dsandip commented on #25
This has been fixed

[2018-01-22 05:55] #25 closed

[2018-01-22 05:56] shahidhk commented on #484
duplicate: https://github.com/hasura/support/issues/431

[2018-01-22 05:56] #484 closed

[2018-01-22 05:58] nithraaj commented on #315
Issue has been fixed

[2018-01-22 06:39] dsandip commented on #382
0.6 docs have been retired.
local development is no longer supported.
We should also retire the local-development repo: https://github.com/hasura/local-development/issues/7

[2018-01-22 06:39] #382 closed

[2018-01-22 06:48] dsandip commented on #367
Fixed.

[2018-01-22 06:48] #367 closed

[2018-01-22 06:50] dsandip commented on #366
fixed.

[2018-01-22 06:50] #366 closed

[2018-01-22 07:07] rakeshkky commented on #468
Fixed in platform version `v0.15.24`

[2018-01-22 07:07] #468 closed

[2018-01-22 07:08] dsandip commented on #218
This is still applicable. @rikinsk do you have plans for an advanced K8s section? Ideally, this should be a part of something like that.

[2018-01-22 07:13] dsandip commented on #183
This is now being handled here: https://docs.hasura.io/0.15/manual/data-modelling/index.html#derive-views
However, there is another open bug about adding more details with an example #255. Closing this one.

[2018-01-22 07:13] #183 closed

[2018-01-22 07:14] dsandip commented on #150
Resolved here: https://docs.hasura.io/0.15/manual/monitoring-logging/logs/index.html

[2018-01-22 07:14] #150 closed

[2018-01-22 07:16] rakeshkky commented on #281
`notify`, `auth` and `filestore` follows error responses of kind
`
{
    "code": "string",
    "message": "string"
}
`
`data` has error responses of kind
`
{
    "code": "string",
    "path": "string",
    "error": "string",
}
`

[2018-01-22 07:16] #281 closed

[2018-01-22 07:23] jaisontj commented on #460
Fixed in this [PR](https://github.com/hasura/platform/pull/684)

[2018-01-22 07:23] #460 closed

[2018-01-22 07:28] jaisontj commented on #481
Seems like a danava issue. Assigning @nizar-m @paranoidsp

[2018-01-22 07:31] jaisontj commented on #479
This will be handled in phase3 of the hub revamp.

[2018-01-22 07:37] dsandip commented on #303
Docs for platform v0.6 have been deprecated. Closing this.
@d3vil0p3r : please reopen if this is applicable to the latest version of the docs too.

[2018-01-22 07:37] #303 closed

[2018-01-22 09:17] rakeshkky commented on #406
It is fixed in `v0.15.24`

[2018-01-22 09:17] #406 closed

[2018-01-22 09:30] rakeshkky commented on #316
`/v1/file` will return auto generated `file_id` in response (From `v0.15.3`)

[2018-01-22 09:30] #316 closed

[2018-01-22 10:52] shahidhk commented on #485
@Hyperclaw79 Just creating a cluster doesn't give you credentials to access the cluster. You need to either add the cluster to project using `cluster add` or get credentials using `cluster get-credentials`

A better error message with tip is included in `v0.2.36`. Try it out and re-open of required.

[2018-01-22 10:52] #485 closed

[2018-01-22 10:52] ecthiender commented on #480
Can you add `email` scope to your Facebook app and try it again. I think it is failing because of missing `email` scope. (Facebook doesn't give email to Hasura Auth).

We will release a fix where it can work without requesting for email.

[2018-01-22 12:22] Hyperclaw79 opened #490 "Object not found for Template related Microservice commands."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
template
**What happened**:
In the latest cli, commands `hasura ms template-list` and `hasura ms create app --template=python-flask` return an `Object not found` error.

**What you expected to happen**:
Successfully display the list of templates and create an appropriate microse

[2018-01-22 12:29] shahidhk commented on #490
We are looking into this.

In the meanwhile, a quick fix would be to do the following:

[code]

[2018-01-22 15:31] sharmasoumyadip commented on #480
@ecthiender I could not understand actually. I mean in hasura auth API I need to request with fb `accessToken` . And my app actually asking the user for email. So after I get access token ( I am using passport strategy ) I am sending the token to Auth API.

[2018-01-22 17:19] ecthiender commented on #480
@sharmasoumyadip whatever you are doing using the Hasura Auth APIs is correct. When you are making a request to Facebook to get the access token, does that request include something called scopes or permissions? Can you confirm you are including `email` in that scope/permission?

PS: the request to Facebook might be some function call if you are using any SDK/library.

[2018-01-22 18:55] sharmasoumyadip commented on #480
@ecthiender
It worked as expected, I included the `email` scope as you said.
Waiting for the release as all fb account does not have email id or they make their email id private.

[2018-01-23 18:02] ashwani99 opened #491 "Data import option in API console"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
An option/button on the API console to import data from Text/CSV files into a table

**Describe your application use case that would benefit from this feature**
Currently there is no option on the API console to import data from external source although it can be done via the CLI. An import button on th

[2018-01-24 07:57] #482 closed

[2018-01-24 08:44] ecthiender commented on #368
This is done in the current docs. One example: https://docs.hasura.io/0.15/manual/users/email.html

@coco98 @dsandip is this enough or we need more content?

[2018-01-24 08:46] ecthiender commented on #207
Closing as there is no activity in this thread. Please to open a new issue if something is not addressed.

[2018-01-24 08:46] #207 closed

[2018-01-24 09:07] ecthiender commented on #206
Currently it is tracked here https://github.com/hasura/platform/issues/128

[2018-01-24 09:08] ecthiender commented on #146
Duplicate of #235

[2018-01-24 09:08] #146 closed

[2018-01-24 09:11] ecthiender commented on #284
Fixed since platform v0.15

[2018-01-24 09:11] #284 closed

[2018-01-24 10:03] ecthiender commented on #291
@Eorlundgraymane can you elaborate what you mean?

[2018-01-24 10:25] shahidhk commented on #490
Fixed in https://github.com/hasura/hasuractl/commit/9b59c7a5a7af76adfa0cc24cd043702e5536caff

[2018-01-24 10:25] #490 closed

[2018-01-24 10:52] #477 closed

[2018-01-24 12:04] shahidhk commented on #476
@coco98 I couldn't reproduce this on my windows machine.

Reopen if it happens again

[2018-01-24 12:04] #476 closed

[2018-01-24 12:42] shahidhk commented on #425
Due to the oauth flow, nothing can be done unless a redirect happens to the cli. Dashboard should callback with failure.

Closing as this is a low priority issues

[2018-01-24 12:42] #425 closed

[2018-01-24 15:16] sathya9897 opened #492 "microservice-list throws "object not found""
/kind bug

Bug report
----------

**What happened**:
 Was trying to get the list of templates available on Hasura Hub with

    hasura ms template-list           (or)
    hasura microservice template-list

**What you expected to happen**:
It should have returned the list of available templates on Hasura Hub but it returned the following error.

    $ hasura ms template-list
    • Updating template

[2018-01-24 15:19] #492 closed

[2018-01-24 17:12] Hyperclaw79 opened #493 "Unable to deploy custom nodejs-express microservice"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
nodejs, express
**What happened**:
Was unable to push a locally working expressJS microservice.
MS not listed on `hasura ms list`.
[code]
[code]

**What you expected to happen**:
The ms to work smoothly like it does on the localhost.

**How to reproduce it (as minimally and prec

[2018-01-24 18:14] Hyperclaw79 opened #494 "Customisations to Auth UI Kit"
/kind howto

How-to request
--------------

**What docs/how-tos/tutorials would you like to have?**
Auth UI Kit lacks documentation for the process to use a custom ui.

**Can you describe what you were trying to do that would benefit from this guide/docs/tutorial/how-to**
I am trying to use a custom ui page hosted by a separate microservice. However there is no info provided on how I can change th

[2018-01-24 18:23] ashwani99 opened #495 "Cannot access API console without a git push"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
admin session token

**What happened**:
Opening API console of a hasura cluster shows alert `Could not find admin session token`

**What you expected to happen**:
Open API console of the given cluster in the browser

**How to reproduce it (as minimally and precisely as possible)

[2018-01-24 18:42] Hyperclaw79 opened #496 "Deleting unwanted auth types in `conf/auth.yaml` results in ConfigError"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
auth
**What happened**:
Upon deleting the mobileOtp auth type, I receive the following error:
[code]
**What you expected to happen**:
`Auth.yaml` should be flexible enough to let devs delete unwanted auth types and check for config against only the mentioned providers.

**How to

[2018-01-24 18:46] Hyperclaw79 commented on #495
As Shahidh said,

So, the first quickstart (especially when you are using Dhanava cluster with modified configs), might not contain the required config files. So you'll need to set up the appropriate files in the containers for the `api-console` (or perhaps any hasura api) to work properly.
Hence, doing a git add . && git commit -m "first commit && git push hasura master" should load the initial c

[2018-01-24 19:11] ashwani99 commented on #495
@Hyperclaw79
I understand the `hasura quickstart` creates cluster with default configs. But as it has a flag `--type` shouldn't it setup the config files according to the type of cluster?

[2018-01-24 21:29] coco98 commented on #218
We should definitely have a section in advanced.
"Adding custom kubernetes resources".
@shahidhk When do you plan to add support for templating custom k8s resources? This issue is not really blocking on adding templating anyway. We might as well add that section to the docs asap.

[2018-01-25 05:20] shahidhk commented on #493
@tirumaraiselvan, can we add permissions for `replicasets.extensions`?

`User "system:serviceaccount:fortune22-user:default" cannot list replicasets.extensions in the namespace "fortune22-user"`

[2018-01-25 05:22] shahidhk commented on #493
@Hyperclaw79 How many microservices are there on this cluster including auth-mod?

[2018-01-25 05:24] shahidhk commented on #496
@0x777 Does the said variable has a default value? or is it mandatory?

[2018-01-25 05:25] shahidhk commented on #495
@tirumaraiselvan any clues here?

[2018-01-25 05:36] tirumaraiselvan commented on #493
Yes, we can add those roles.

[2018-01-25 06:01] Hyperclaw79 commented on #493
@shahidhk The default `api` ms and `ui` ms that came with the quickstart for hello-react.

[2018-01-25 06:28] ss-is-master-chief opened #497 "Failing to recognise existing clusters and instead showing deleted clusters on the list"
`hasura cluster list` should be providing the data regarding the existing clusters on hasura.io. The clusters which I have are : **armchair33** and **fairgrounds89**. Since armchair33 has been _inactive_ for sometime, it was supposed to be _deleted_. But the list shows it as well. Reading the cluster also shows **error [1013] : Cluster armchair33 not found**.

While `hasura cluster delete fairgrou

[2018-01-25 07:51] ss-is-master-chief commented on #497
@tirumaraiselvan The issues were caused by the campus network I was on by blocking the outgoing packets. Hence, it was failing to connect to the server. Going back to a cellular network solved the issue.

[2018-01-25 07:51] #497 closed

[2018-01-25 09:52] dsandip opened #498 "Add a fallback email service provider for dashboard"
Bug report
----------
**What happened**: The sparkpost account's threshold was hit and new users did not receive the verify account emails.

**What you expected to happen**: A fallback email service provider should have kicked in.

[2018-01-26 05:20] shahidhk commented on #493
@Hyperclaw79 Only 2 microservices are supported on `danava` systems. You might want to cut down one of'em

@tirumaraiselvan can you update here once the permissions are added?

[2018-01-26 05:25] shahidhk commented on #218
Support for `render-template` command is tracked here: https://github.com/hasura/hasuractl/issues/693

Won't be much work, will add sometime early next week.

[2018-01-26 05:56] Hyperclaw79 commented on #493
2 including the default `api` ms?? That's a pretty big limitation.

On Jan 26, 2018 10:50 AM, "Shahidh K Muhammed" <notifications@github.com>
wrote:

[2018-01-26 06:00] tirumaraiselvan commented on #493
@shahidhk Adding perms for new projects is trivial but patching it for existing projects will need thorough testing. @paranoidsp Can you help with the patching?

[2018-01-26 09:08] 0x777 commented on #496
@ecthiender @rakeshkky

[2018-01-26 12:53] Hyperclaw79 commented on #496
Any temporary workarounds would be appreciated. 😅

[2018-01-26 13:46] rakeshkky commented on #496
@Hyperclaw79 `email`, `mobile` and `mobilePassword` providers conf in `auth.yaml` is mandatory even if you disabled.

[2018-01-26 14:46] rakeshkky commented on #14
#698

[2018-01-26 14:46] rakeshkky commented on #14
#https://github.com/hasura/platform/pull/698

[2018-01-26 16:37] coco98 commented on #496
Try cloning (hasura clone) hasura/base and copying the auth.yaml from
there.

On Fri, 26 Jan 2018 at 7:16 PM, Rakesh Emmadi <notifications@github.com>
wrote:

[2018-01-26 16:38] coco98 commented on #493
We’re trying hard to increase resource limits.
But providing free hosting to folks is super expensive.

On Fri, 26 Jan 2018 at 11:30 AM, Tirumarai Selvan <notifications@github.com>
wrote:

[2018-01-27 06:30] rocka0 opened #499 "Restart all microservices without explicitly specifying each one"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**

It would be great if there was a way to restart all microservices in a project without having to specify each one of them in the `hasura ms restart` command.

A git push is going to rebuild your project and restart them but that seems to be a very tedious and unviable option.

**Environment**:

- Clust

[2018-01-27 09:32] rocka0 opened #500 "Error while running Hasura Publish"
/kind bug

Bug report
----------

While running the `hasura publish` command, I keep running into the error which goes:

`× Publishing project failed error=GetFileAttributesEx C:\Users\tusha\AppData\Local\TempTush_Chen_PocketMedic_1517045508\.git\objects\info: The filename, directory name, or volume label syntax is incorrect.
`

This error has persisted for a couple of days now and nuking the Git

[2018-01-27 09:43] d3vil0p3r commented on #303
@dsandip sure 👍

[2018-01-27 16:15] bpVandana opened #501 "Error in the Data Api -generated in python 2.7 or python 3 language"
Bug report
----------

I tried to generate a Data api request using _generate api_ option and found a simple syntax error msitake

The print statement generated should follow the **print("string")** format
But it was **print string**

[2018-01-28 08:25] sharmasoumyadip commented on #494
How change the redirect url after user logs in or signs in?

[2018-01-28 14:22] fazalilahi666 opened #502 "api error in hasura hello-react quickstart clone"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
hello-react quickstart clone

**What happened**:
api endpoint :- get_articles gives "code":"ENOTFOUND","errno":"ENOTFOUND" and select request failed

**What you expected to happen**:
json response containing article data

**How to reproduce it (as minimally and precisely as poss

[2018-01-28 14:34] dsandip commented on #496
@shahidhk : Does it make sense for the error message to be clearer about this and can it be done? Please close the issue based on the above.

[2018-01-28 15:06] rocka0 commented on #500
This error still persists but running the same command from my MacBook I was able to publish the code. However, after a successful publish multiple times, my project is only visible on the Hub after a search.

Furthurmore,  it get's a url like:

`https://hasura.io/hub/project/[A[D[BTush_Chen/PocketMedic`

This can furthur be seen in another friend who was facing this similar issue after publishing

[2018-01-28 17:54] coco98 commented on #501
@jaisontj @praveenweb please fix asap.

On Sat, 27 Jan 2018 at 9:45 PM, Vandana Kumari <notifications@github.com>
wrote:

[2018-01-29 06:27] praveenweb commented on #501
@bpVandana - The generated code is correct. For python2.x versions, the syntax for print would be **print string** while for python3.x versions, the syntax would be **print("string")**. python2 print is a statement, where as python3 print is a function call. Check out official docs for the subtle difference - [https://docs.python.org/3.0/whatsnew/3.0.html](https://docs.python.org/3.0/whatsnew/3.0.

[2018-01-29 06:27] #501 closed

[2018-01-29 08:07] bpVandana commented on #501
The api generated for both 2.7 and 3 version are same and using api
directly is giving syntax error

On 29 Jan 2018 11:57, "Praveen Durairaj" <notifications@github.com> wrote:

[2018-01-29 08:30] shahidhk commented on #496
A better error message implementation is being tracked here: https://github.com/hasura/hasuractl/issues/594

Closing this issue since the keys are mandatory.

[2018-01-29 08:30] #496 closed

[2018-01-29 08:30] shahidhk commented on #499
@rocka0 Can you describe a use case for such a command?

[2018-01-29 08:59] rocka0 commented on #499
@shahidhk I was actually trying to manage logs across 3 microservices and while debugging I needed to restart all 3 microservices one by one to erase the old logs and see the new one.  I feel it would come in handy while testing and debugging.

[2018-01-29 09:01] rocka0 commented on #500
@jaisontj The bug has been fixed. Thanks 👍

[2018-01-29 09:16] 0x777 commented on #14
When `returning` is absent, the response will not have `returning`. As @coco98 says, returning all the columns for every row insert/update is not a good default in my opinion.

[2018-01-29 09:16] #14 closed

[2018-01-29 10:14] #500 closed

[2018-01-29 10:26] ecthiender commented on #502
@fazalilahi666

I followed your steps to reproduce, but couldn't reproduce the issue. When I go to the `https://app.<cluster>.hasura-app.io/get_articles` url, it works. Also your steps to reproduce has `hello-python-flask`, but the title has `hello-react`. So not sure what your issue is exactly.

[2018-01-29 10:44] ecthiender commented on #499
@rocka0 the use-case doesn't make much sense. If you want old logs to disappear, you can use the `--tail` option to specify from which line to tail from. You can also use visual markers to distinguish old logs (like type `-----` after the old logs). Restarting *all* services also doesn't make much sense. If you accidentally do this on a live site you might encounter downtime as well.

You need to

[2018-01-29 10:45] ecthiender commented on #480
Sure. @sharmasoumyadip . We'll let you know when this is out.

[2018-01-29 12:09] dsandip commented on #502
@fazalilahi666 : Can you please check this again and respond to @ecthiender's comments?

[2018-01-29 13:06] ecthiender commented on #481
@sathya9897 is this resolved?

[2018-01-29 13:09] #448 closed

[2018-01-29 13:12] paranoidsp commented on #481
This is fixed, pull request pending. Should be in the next platform release, hopefully.

[2018-01-29 13:22] fazalilahi666 commented on #502
@ecthiender sorry its not hello-python-flask. Its hello-react project that i cloned :p

[2018-01-29 13:29] dsandip commented on #502
@fazalilahi666 : Closing this issue, please reopen if still applicable.

[2018-01-29 13:33] fazalilahi666 commented on #502
@ecthiender that url data must be changed from
http://data.hasura/v1/query
To
https://data.<cluster>.hasura-app.io/v1/query

[2018-01-29 13:56] karthikvt26 commented on #502
Hi Fazal,

Yeah I got what you are saying. We will update it and publish.

[2018-01-29 15:55] rocka0 commented on #499
@ecthiender True. Well I don't think I have any other use cases.

[2018-01-29 21:08] sathya9897 commented on #481
Nope... This isn't solved as the same thing happened today too... When I did `git push hasura master` the ui microservice was updated with the pushed files but it showed `ui deployment failed` at the end of the git push.

[2018-01-30 04:37] shahidhk commented on #499
Let's close this and revisit when a use case arise

[2018-01-30 04:37] #499 closed

[2018-01-30 05:33] jaisontj commented on #389
@coco98 Are we going ahead with this anytime soon ?

[2018-01-30 05:33] #389 closed

[2018-01-30 05:38] jaisontj commented on #426
@wawhal Could you take a look at this ?

[2018-01-30 05:41] jaisontj commented on #446
@karthikvt26 take a look at this.

[2018-01-30 16:11] sathya9897 opened #503 "Project still shows deleted cluster that was added to it and doesn't allow to add new cluster"
/kind bug

Bug report
----------
**What happened**:
My cluster was deleted as it was not used in the past week. So when i did `hasura cluster list` in the project folder that was being hosted on that cluster it gives the following data:

    $hasura clusters list
    Clusters added to this project:
    NO   NAME            ALIAS
    1    disarmingly15   hasura

**What you expected to happen**:
I w

[2018-01-30 16:37] sathya9897 opened #504 "Removal of cluster added to a project"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
There is a command to add a project to an existing cluster but it would be great if there would be a command to remove an existing or deleted cluster from a project.

**Describe your application use case that would benefit from this feature**
A user can remove a cluster from a project and migrate it to

[2018-01-31 15:04] dvkcool commented on #504
There is already a command,
Just run hasura cluster delete <cluster-name> from your project folder
Then hasura cluster create --type free
Delete contents of clusters.yaml

[2018-01-31 15:35] dvkcool commented on #503
The error has clear message, the clusters.yaml already has a cluster with alias hasura
The alias is nothing but what you give by ` -c hasura` while time of cluster creation, it is hasura by default

To add a cluster with same alias try deleting the contents of clusters.yaml( just to remove a cluster with same alias)
Or you could create a cluster with different alias.

However 1 cluster is sufficie

[2018-01-31 17:34] sathya9897 commented on #504
@dvkcool your absolutely right. But I was talking of a command that could do the content deleting part from the `clusters.yaml` for us if a cluster details are found, than doing it manually which will reduce the work and prevent creation of bugs if someone deletes some important part of the file unintentionally.
This command will be very useful for newbies to hasura.

[2018-01-31 17:42] dvkcool commented on #504
The newbies could create a cluster with different alias :grimacing:

[2018-01-31 17:52] sathya9897 commented on #503
@dvkcool yup i completely agree with all the stuff you said and i know all those stuff as well but my concern is to improve the work flow and prevent unnecessary bugs and that's the very reason i raised another feature request #504 in which i have given a brief description in comment.

[2018-01-31 17:57] sathya9897 commented on #504
who can guarantee that? but here the issue is about workflow and bug prevention

[2018-01-31 18:59] coco98 commented on #503
Closing this to continue the discussion at #504.

[2018-01-31 18:59] #503 closed

[2018-01-31 19:01] coco98 commented on #504
@sathya9897 @dvkcool Thanks for the interesting viewpoints guys 👍

I think we can do some simple things to improve usability. A `hasura cluster delete`, if run in the project directory, could prompt the user for further removing the entry from `clusters.yaml` for example.

@shahidhk Your thoughts?

[2018-01-31 19:15] dvkcool opened #505 "Very Small bug in Back button hyperlinking of auth API"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
auth API

**What happened**:
While trying to use auth API, noticed a small bug that while using Back Button, clicking on `Back` Text works, but when we click on `<` symbol, nothing happens except a pointer change.
I guess the hyper-link is only added to text, better could be if

[2018-02-01 07:05] coco98 commented on #505
@praveenweb thoughts?

[2018-02-01 10:57] wawhal commented on #426
Fixed in [this](https://github.com/hasura/docs/commit/d3893693ba90f7f34455afd016c560e5281c2ab1).

[2018-02-01 10:57] #426 closed

[2018-02-01 17:10] sathya9897 opened #506 "external url's are missing"
issue solved

[2018-02-01 17:45] #506 closed

[2018-02-01 21:22] wawhal commented on #418
Fixed in [this commit](https://github.com/hasura/hello-react-native/commit/57d3e34015808833545093b17de9d43d42a39ee3)

[2018-02-01 21:22] #418 closed

[2018-02-04 04:21] shahidhk commented on #456
This is an intermittent issue. Should go away once you retry.

[2018-02-06 13:00] Hyperclaw79 opened #507 "Wrong error message for unpublish command."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
unpublish

**What happened**:
Got the `Project Not Found` error message when trying to unpublish while logged in as a different user.

**What you expected to happen**:
Should give an error message saying, `This is not your project. Only the project owner can unpublish the projec

[2018-02-06 13:09] Hyperclaw79 opened #508 "No Backward Compatibility for hub projects"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
hub

**What happened**:
After the recent hub update, projects require you to use only small characters in the name.
When I tried to unpublish a project containing TitleCase name, it returned a project not found.
When I republished the project with a lowercase name, it created a

[2018-02-07 11:37] shark-h opened #509 "elixir starter kit"
/kind feature

Feature request
---------------

**What is the feature you would like to have?** elixir quickstart

[2018-02-07 11:38] shark-h opened #510 "babel.js starter kit"

[2018-02-07 11:40] shark-h opened #511 "Phoenix starter kit"

[2018-02-07 11:41] shark-h opened #512 "Watson starter kit"

[2018-02-08 21:11] sathya9897 opened #513 "The ms gives error status"
/kind bug

Bug report
----------

**What happened**:
The `ms status` remains `error` of `app` MS when done `hasura ms list -c hasura` , even after restarting the ms and rollout fails everytime even though the ssh-key was added and ms were restarted several times.

**What you expected to happen**:
was expecting ms to start running after doing `hasura ms restart app -c hasura`

**How to reproduce it

[2018-02-08 21:29] sathya9897 opened #514 "All the microservices are showing error status"
/kind bug

Bug report
----------

**What happened**:
 Suddenly, all the microservices have started showing `error` status even though the cluster is awake.

**How to reproduce it (as minimally and precisely as possible)**:

    hasura ms list -c hasura

**Logs**:
[code]

when checked each microservice status with `hasura ms msname -c hasura` the result is same as mentioned in #513

**Environment**

[2018-02-09 00:51] vaibhavk98 commented on #456
It's still there

[2018-02-09 00:52] vaibhavk98 commented on #456
It's still there shahidhk

[2018-02-09 06:41] tirumaraiselvan commented on #514
Fixed.

[2018-02-09 06:41] #514 closed

[2018-02-09 06:42] tirumaraiselvan commented on #513
Fixed.

[2018-02-09 06:42] #513 closed

[2018-02-10 05:40] Hyperclaw79 opened #515 "No option to wake up a Project without open endpoints."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
wake

**What happened**:
If an app has only microservices which do not even have an open endpoint (like a bot for example), there is no way to wake up the cluster apart from a user request. Due to this, every time a new user makes a request to the sleeping cluster, it will not r

[2018-02-10 18:13] 13banda opened #516 "Session middleware is not disabled properly"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
disable session middleware

**What happened**:
when disable gateway session resolver using false value of enableAuth in  routes.yaml file. like this  ``enableAuth: false``
gateway still resolve the session and showing user headers after resolve the session.

**What you expected

[2018-02-11 22:50] Hyperclaw79 opened #517 "Unpublish Projects directly from Hub"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
1. The option to unpublish a project directly from the Hub. (Now that the User profile feature is created. )
or
2. Unpublish a project from a different working directly by providing project name as args.
Example:
[code]

**Describe your application use case that would benefit from this feature**
This ca

[2018-02-12 07:54] praveenweb commented on #505
Fixed in hasura/auth-ui-kit@61cba9b5a96a496a3a317659cc35ce66d6171eaf

[2018-02-12 07:54] #505 closed

[2018-02-12 18:13] Hyperclaw79 opened #518 "Get ReCaptcha back."
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Recaptcha

**Describe your application use case that would benefit from this feature**
Uhm, who wouldn't love to have a recaptcha in their login forms. 😝
I'd personally want it for anti-botting. I'm sure many others would agree with this use case too.

[2018-02-12 19:08] Science001 opened #519 "Needed Submodules support for projects"
/kind feature

Feature request
---------------

**Submodule support for cluster repositories**

**Submodules would help developers to add one or more independent components, that exist in a separate repository, into the core project of which they form a part of. This enables independent development of the submodules and provides reusability of them for other projects.**

[2018-02-12 19:21] Hyperclaw79 opened #520 "AutoExpire Session on Window Close."
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
A separate endpoint for Login which closes the session upon window close.

**Describe your application use case that would benefit from this feature**
This would make the login form feature `Keep me logged in.` very much easier to handle.

[2018-02-13 04:11] coco98 opened #521 "hasura auth ui kit bug for reset-token"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
auth UI kit

**What happened**:
Click on reset password email and it takes you to a 404 page

**What you expected to happen**:
It to show a reset password form

**How to reproduce it (as minimally and precisely as possible)**:
Enable email provider, signup with email and then cl

[2018-02-13 04:16] ecthiender commented on #520
I agree with the feature request: "session expiry on browser close", but what do you mean by it will make "Keep me logged in" feature easy to implement. I think it's quite the opposite. In "keep me logged in" you want the session to extend for a long time (probably not expire at all), so that even if the user closes the browser or comes back after 1 month, they are still logged in.

"session expir

[2018-02-13 04:18] #515 closed

[2018-02-13 04:22] ecthiender commented on #516
@0x777 can you verify this?

[2018-02-13 04:32] praveenweb commented on #521
It doesn’t seem to be a UI endpoint. UI endpoints will be /ui/* . Seems like a wrong auth endpoint being used.

[2018-02-13 04:38] Hyperclaw79 commented on #521
@praveenweb This is the result of doing `Forgot password`. I could successfully send out a mail to the user. However, the generated link in the mail, leads to this.

[2018-02-13 04:56] 13banda commented on #516
yes .i use ``enableAuth: false`` in routes.yaml file for api ms. still session resolver resolve the session.  anyone can see user header's still present here [api](https://app.arboretum13.hasura-app.io/ip)  .

[2018-02-13 06:28] praveenweb commented on #521
@Hyperclaw79 - This is the correct reset-password URL for Auth UI Kit.
https://auth.{{ cluster.name }}.hasura-app.io/ui/reset-password?token={{ "{{token}}" }}
Can you update your auth conf's forgotPasswordTemplate to point to the above URL?

Let me know if this works.

[2018-02-13 07:15] Hyperclaw79 commented on #521
@praveenweb  That url does lead to the Auth UI kit successfully but it breaks there upon submit with
`No user found with specified token.` even though the token was just generated.`

[2018-02-13 23:18] ashwani99 opened #522 "Danava clusters have to be deleted twice"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
cluster delete

**What happened**:
Clusters of type `hpdf` needed to be deleted twice to take effect.

**What you expected to happen**:
It should be deleted in the first attempt itself.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a hasura cluster

[2018-02-14 04:17] shahidhk commented on #522
@ashwani99 The cluster takes some time to disappear from the list after it is deleted. It is not like it works the second time.

But, we'll make a fix to make the cluster disappear immediately

[2018-02-14 05:49] shark-h opened #523 "Haskell Starter Kit"

[2018-02-14 05:50] shark-h opened #524 "Erlang Starter Kit"

[2018-02-14 05:51] shark-h opened #525 "Flask and Keras Starter Kit"

[2018-02-14 05:52] shark-h opened #526 ".net core Starter Kit"

[2018-02-14 05:52] shark-h opened #527 "Symfony Starter Kit"

[2018-02-14 05:52] shark-h opened #528 "Prometheus Starter Kit"

[2018-02-14 12:42] shark-h opened #529 "SQLAlchemy starter kit"

[2018-02-14 17:01] dsandip commented on #526
@shark-h : https://hasura.io/hub/project/hasura/hello-csharp-aspnet is actually a `.net core` starter kit. @shahidhk : Add tags and explicitly mention the fact that is based on the ASP.Net Core framework?

[2018-02-14 18:08] souvikhaldar opened #530 "Error while exposing (401)"
/kind bug

Bug report
----------

Whenever I'm doing `hasuractl local expose` I'm getting 401 response. Earlier it used to work fine and even now it works well on localhost though. Where am I going wrong?
![image](https://user-images.githubusercontent.com/20991754/36220257-f39c23e4-11df-11e8-9dbe-ad4d872ca675.png)

[2018-02-14 19:03] dsandip commented on #530
@souvikhaldar local expose is no longer supported (bad dev experience) and hasuractl is now hasura CLI. You should try creating a fresh project/cluster by trying out a starter kit for your fav language here: https://hasura.io/hub. @shark-h : Follow up with Souvik, tomorrow?

[2018-02-15 11:53] #529 closed

[2018-02-15 11:53] #528 closed

[2018-02-15 11:59] #526 closed

[2018-02-15 12:00] #527 closed

[2018-02-15 12:03] #525 closed

[2018-02-15 12:03] #524 closed

[2018-02-15 12:03] #523 closed

[2018-02-15 12:03] #512 closed

[2018-02-15 12:03] #511 closed

[2018-02-15 12:03] #510 closed

[2018-02-15 12:03] #509 closed

[2018-02-16 09:06] jaisontj commented on #358
The js sdk is currently deprecated. Closing this issue, will re-open if we decide to support the SDKs in the future.

[2018-02-16 09:06] #358 closed

[2018-02-16 09:08] jaisontj commented on #451
Hi! Thank you ! This in works and being tracked internally.

[2018-02-16 09:08] #451 closed

[2018-02-16 13:04] vaibhavk98 commented on #456
Although for my system, there is still an error for `hasura quickstart projectname --type=hpdf` tag, But I solved it by using `--type=free` and created a cluster which works correctly now.

[2018-02-20 09:07] rosenk opened #531 "Quickstart failed"
Absolute beginner here, just wanted to try hasura but it dosen't work.

$  hasura quickstart hasura/hello-world
• Project cloned directory=/home/rosen/hello-world
× Quickstart failed! error=[1014] Cannot connect to cluster flagrancy32. This could happen when there are issues with internet connectivity or if the cluster is deleted. | Cannot fetch configmap controller-conf from hasura namespace

I'm

[2018-02-20 09:31] dsandip commented on #531
Hey @rosenk, this error is typically seen when the internet connection is flaky when running this command or your network doesn't allow connections on port 3443. The cluster is actually up and running. You can test your connection by using this tool: http://portquiz.net:3443/. The page will tell you whether your network allows you to connect to port 3443 on the cluster. Can you try this out and pa

[2018-02-20 10:19] rosenk commented on #531
You are right, seams that my company's network is blocking this port.

[2018-02-20 10:19] #531 closed

[2018-02-21 11:53] praveenweb commented on #21
@aqelkp - Error responses now have a `code` which will be one among this list available in docs - https://docs.hasura.io/0.15/manual/reference/data/api.html#error-codes

`api-console` also gives suggestion boxes in API Explorer whenever you make a query.

Closing this now.

[2018-02-21 11:53] #21 closed

[2018-02-21 13:25] praveenweb commented on #521
@Hyperclaw79 - The token in the URL was not decoded before making a http request. Its fixed in hasura/auth-ui-kit@5ad92fcc2bd4c8970bca6a0a3f0030b8286cab5a

This should work as expected now. Closing this.

[2018-02-21 13:25] #521 closed

[2018-02-21 13:28] praveenweb commented on #502
@fazalilahi666  - In api server, it should ideally call only the internal endpoint from server side.

@karthikvt26 - Not sure what needs to be fixed here.

[2018-02-21 14:10] karthikvt26 commented on #502
@praveenweb I think you need to change the url inside the config if you are running it locally to correctly interact with the server. If it is just `git push hasura master` this is fine.

[2018-02-21 14:10] praveenweb commented on #494
@Hyperclaw79 - Right now the built-in Auth UI Kit is not customisable apart from the available light and dark theme options.

If you want to customise the UI, you can host this as a separate microservice. The source code is available at https://github.com/hasura/auth-ui-kit with instructions on how to get started.

[2018-02-21 14:10] #494 closed

[2018-02-22 08:58] ecthiender opened #532 "Remove SMTP from notify docs"
**Problem**: SMTP does not work on current Hasura free clusters. GKE, Digital Ocean etc. blocks port 25.

We already have Hasura Test provider for testing out email/sms sending. Encourage users to use Hasura Test provider during development, and switch to a proper one in prod.

**Suggestion**: Remove SMTP from notify docs or discourage users from using it. Remove it from all conf examples as well.

[2018-02-22 09:40] jaisontj commented on #478
All the Hasura based quickstarts are getting their readme's updated.

[2018-02-22 09:40] #478 closed

[2018-02-23 07:34] dsandip opened #533 "hasura setup does not fetch credentials"
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
`hasura setup`, `fetch credentials`
**What happened**: Following the instructions in https://docs.hasura.io/0.15/manual/project/collaboration.html, `hasura setup` was run on a cloned project where I've been added as a collaborator (_both on dashboard.hasura.io and GitHub_) and it threw the

[2018-02-23 08:52] ecthiender commented on #532
@coco98 thoughts?

[2018-02-23 08:54] #530 closed

[2018-02-23 09:15] dsandip commented on #533
[code]

[2018-02-23 09:17] shahidhk commented on #533
Thanks, figured out the issue. Recent addition of error code 1032 caused this!

[2018-02-24 18:32] mdakram28 opened #534 "Remove/Rename cluster alias from a hasura project"
/kind howto

How-to request
--------------

**What is the command to remove a cluster from a hasura project?**

---------------------

**Environment**:

- Cluster type: free-trial
- OS/Arch/Version: Kubuntu 17.04 amd64
- Browser/Version: Chrome 64
- hasura CLI version: v0.2.45

[2018-02-25 20:19] vikram7111997 commented on #414
ERROR MSG -
× Quickstart failed! error=[1011] API call failed | There are only limited free projects currently and all of them are already allocated! We'll let you know as soon as projects are available. In case you need a project urgently, do contact us.

[2018-02-25 20:28] vikram7111997 opened #535 "Unable to clone and create a new project from HUB and create a new free cluster."
Mind you that I have no clusters inside my dashboard right now cause I know that only 2 free clusters are allowed at max.
Whenever I try to clone a new project from HUB I get the error msg as follows-
× Quickstart failed! error=[1011] API call failed | There are only limited free projects currently and all of them are already allocated! We'll let you know as soon as projects are available. In case

[2018-02-26 06:00] PushpinderSinghGrewal commented on #500
I am facing the exact bug while running hasura publish.

Environment:

Cluster type: hpdf
OS/Arch/Version: Windows 10 64 Bit Build
hasura CLI version: v0.2.45

[2018-02-26 16:14] smartclash commented on #535
Well, the error clearly says that they don't have resources to allocate a new free cluster for your project. It is not an error to be honest.

It is something that Hasura folks has to take care about their infrastructure. Your account is all good 😉 @vikram7111997

[2018-02-26 16:16] smartclash commented on #532
How bout' having the SMTP as-it-is. Instead warn them that port 25 doesn't work instead they have to change the port or use SparkPost etc. I honestly like the SMTP though @ecthiender

[2018-02-26 16:21] smartclash commented on #534
Hey @mdakram28 ,

Your Title and the message says something and they totally are unrelated. Let me assume that you need to delete a cluster from your account. If yes, then the command is

[code]
If you want to rename the cluster aliases, then you can open up cluster.yaml and edit the aliases directly.

Let me know if the your question is fixed. If yes, then close this issue 😉

[2018-02-26 16:24] smartclash commented on #518
Would be great if the reCaptcha is in every providers though 😜

[2018-02-27 12:04] anirudhmurali opened #536 "Allow usage of Jupyter authorization headers"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**
Jupyter authorization headers
**Describe your application use case that would benefit from this feature**
![image](https://user-images.githubusercontent.com/3096325/36727635-0550ea08-1be4-11e8-95e8-f1e000ba1bc8.png)

[2018-02-27 12:52] mdakram28 commented on #534
Thanx a lot

[2018-02-27 12:52] #534 closed

[2018-02-28 05:19] shahidhk commented on #516
This is CLI issue and have been fixed in https://github.com/hasura/hasuractl/pull/740

[2018-02-28 05:19] #516 closed

[2018-03-02 06:39] shahidhk commented on #535
The error clearly states there are no free project available at the moment. usually it takes 15 minutes to replenish the pool

[2018-03-02 06:39] #535 closed

[2018-03-02 13:34] dsandip opened #537 "`hasura microservice create` with `--image` does not need to add a remote"
Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
image, microservice create

**What happened**
When running `hasura microservice create mb --image metabase/metabase:latest --port 3000`, CLI tells me to add a remote, which is not needed for a Docker ms.
[code]

[2018-03-06 22:30] coco98 opened #538 "Are relationships based on multi-col foreign keys possible?"
/kind howto

Feature request
---------------

**What is the feature you would like to have?**
Define relationships based on a foreign-key constraint that spans multiple columns.

**Describe your application use case that would benefit from this feature**
Vamshi style fancy modelling that allows for one-to-one kinds of relationships.

[code]

[2018-03-06 22:35] coco98 opened #539 "Can I expose an SQL function or transaction as a view via the hasura data APIs?"
Can I create an SQL transaction that takes one input and then does a series of things and returns a value, as a table?

Then I can use data APIs to insert and returning to capture the result.

This ofcourse is actually a postgres feature, and I'm sure it's not possible. But, just asking nonetheless.

(via Akshaya on bompod)

[2018-03-06 22:39] coco98 opened #540 "New admin users created don't get picked up as admin for data APIs"
/kind bug

I create a new user and mark the user as an admin.
I make a data API request using the authorization token after this new user logs in.
The data API does not pick this user up as having an 'admin' role.

However, if I make the same API call as the default 'admin' user that ships with a cluster, then the 'admin' role gets picked up.

This is happening because the first role gets picked u

[2018-03-08 04:38] shahidhk opened #541 "ARM builds for Hasura CLI"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**

ARM builds for Hasura CLI

**Describe your application use case that would benefit from this feature**

Embedded systems and single board computers (SBC) mostly run on ARM chips. Having an ARM build will be useful

[2018-03-09 09:50] Hyperclaw79 opened #542 "Inconsistency in headers sent to Data API"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
data api, headers
**What happened**:
When making a request to admin only data(like auth users table) via the data apis, sending the `"X-Hasura-Role":"admin"` is not sufficient.
We have to send `X-Hasura-Id` too however, its value can be arbitrary.
It is counterproductive to have

[2018-03-09 10:05] ecthiender commented on #542
It can't be validated, because data microservice has no way of knowing if the user exists or not (without querying the auth API).

[2018-03-09 11:02] coco98 commented on #542
@Hyperclaw79 The only way of solving this is by making X-Hasura-User-Id an optional header if the role is 'admin'. Because like @ecthiender said, the data API does not care about validation. It assumes that it has been contacted in the correct way. The API gateway's job is to ensure that these headers are correct if the request is coming from the client.

[2018-03-09 11:31] Hyperclaw79 commented on #542
@coco98 Are there any possible disadvantages in making it optional?
Because, it does seem irrelevant to the context and breaks when not mentioned. So, it's more of a liability than a feature..... kinda reminds of a human's appendix 😅

[2018-03-13 03:20] coco98 opened #543 "hasura/notify should accept multiple phone numbers for the same message"
/kind feature
hasura/notify should accept an array of messages instead of just one message. Will make scenarios like bulk notification messages to users super easy.

via: Akshaya (Bompod).

[2018-03-14 13:50] shahidhk commented on #537
fixed in https://github.com/hasura/hasuractl/commit/223a10cabef433d2391c287ee98d5d49d72b5f6f

[2018-03-14 13:50] #537 closed

[2018-03-23 14:49] smartclash commented on #541
Damm required feature 👍

[2018-03-24 05:32] cTxplorer opened #545 "trailing white space in email input shows invalid user / email"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
Login, register, email, trailing whitespace

**What happened**:
While [logging](https://dashboard.hasura.io/login) to Hasura, my smart keyboard autocompleted my email address for me while adding a space after the email. As a consequence, I'm recognized as an invalid user.

While

[2018-03-28 09:50] #423 closed

[2018-03-30 06:03] #456 closed

[2018-03-30 06:21] shahidhk commented on #533
Fixed in https://github.com/hasura/hasuractl/commit/bdb2ee95a8318721f8655e2bea000ba0d2d264bb

[2018-03-30 06:21] #533 closed

[2018-04-16 08:37] Varshit07 opened #546 "Incorrect hyperlinks on icons on Hasura | Team page."
/kind bug

Bug report
----------

**What terms/phrases did you search for on this GitHub repo before filing this issue**
team, incorrect hyperlink, font awesome, icon,

**What happened**:
While I was fooling around [Hasura's website](https://hasura.io), I noticed this thing on the [team page](https://hasura.io/team) that when I want to see the details of **Hasura** _Queen of all she surveys_, on c

[2018-04-16 09:06] shark-h commented on #546
Hey @Varshit07 ! Thanks for pointing this out. We'll fix it asap. 😄

[2018-04-16 10:02] surendran82 commented on #546
Fixed

[2018-04-16 10:02] #546 closed

[2018-04-26 17:28] coco98 commented on #408
@nnennajohn We'll add a line in the docs asap!

Just run: `rm /usr/local/bin/hasura` or `sudo rm /usr/local/bin/hasura`.

That's all you need to do.

[2018-04-26 17:41] nnennajohn commented on #408
Ok. Great. You should def add it. My machine was showing a huge spike, like 900+ gb reads in the past few hours after installing it. I did see it in usr/local/bin, but was not sure if there was any additional items or vm mounting anywhere else.

Adding a quick way for people to know exactly how to remove it if and when they need to trouble shoot is paramount. And I always get paranoid if I don't f

[2018-04-26 17:47] coco98 commented on #408
No problem at all!

Also, waaaaaat! That doesn't sound right at all. Our profiles show fairly low usage on CPU/RAM/Disk. We'll profile the latest release and test. Thanks for the note.

I'm assuming you were on a mac and just going through the standard hello-world type commands?

[2018-04-26 17:51] nnennajohn commented on #408
Ok. I just tried that. But i still see hyperkit, and I know you it was not there before and was probably put by kubernetes/minikube. So again, perhaps more detailed instructions on clean up afterwards? :) Really, this makes it easier for nerds like me to feel confident trying it. Like I need to be able to install and remove all traces and dependencies at will. :)

As for what I was running. Yes. O

[2018-04-26 18:05] coco98 commented on #408
Yep. Minikube doing that to your system makes sense :) And totally get your point about the comfort of a good cleanup. Stupid how we miss these things when we're on the other side of dev tools.

Also, I curse our lack of documentation and onboarding if the power of the querying is not apparent. Gah!

Ideally, you should be able to do pretty much any kind of query that is possible on postgres by ju

[2018-04-26 18:36] nnennajohn commented on #408
Super cool how you took ownership of this. Like super impressive. :) Thank you. I think I was was looking for a way to create some of the resolvers myself.

Overall, it is a pretty awesome app. Setup was super fast and straightforward, same as access and even being able to port it for access via DataGrip.

So will def come back to it.

[2018-04-26 22:16] nnennajohn commented on #408
Actually, quick question. For this part of the docs, how do you handle saved views for graphql. It showed it for all other instances, except here.

https://docs.hasura.io/0.15/manual/tutorial/aggregations-views.html

Thank you.

[2018-04-26 22:29] nnennajohn commented on #408
Ok. In this case, you are working with only the author. I mean, can I create complex queries, save them as a view, as access via the graphql endpoint you provide?

[code]

[2018-04-26 22:32] coco98 commented on #408
Yep, so what you can do is:

[code]

Just make sure you create the view from the run-sql window (so that the migrations get created automatically in your project repo) and you check the "track table" checkbox.

Once you do that, this view will be available for querying with graphql as

[code]

[2018-04-26 22:35] nnennajohn commented on #408
Sweet!

Essentially, I am making a course on React/Graphql, and really do find Hasura appealing, because it would abstract a lot of setup away for students. However, the course is on building a mini-social network. So simple crud updates won't do. Would love to see how to make this work.

Ok. I am going to see how far I can push it.

Thanks again for all your response. I really appreciate it.

[2018-04-26 22:48] coco98 commented on #408
Awesome!

I'm tempted to say Hasura should be able to handle the modelling required for a mini-social network, so excited to see where you hit the limits :)

Mutations (updates/deletes) on a where condition and access control rules with multiple roles should generally cover most use cases.

There is one use-case that we're still working on adding which is inserting a "row" and a "related row" in t

[2018-04-26 22:56] nnennajohn commented on #408
Super cool. I am now even more excited to get this working. Will let you know as I migrate stuff over if I run into any challenges.

Thanks again.

[2018-04-28 10:14] shark-h opened #547 "Add multifactor authentication"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**

Two factor Authentication

**Describe your application use case that would benefit from this feature**

Added security to apps.

[2018-04-30 11:07] 1323 opened #548 "Error when pushing to master"
/kind howto

How-to request
--------------
I was having problem during setup of exemplary project. When the push command was run
`git push hasura master `
then I got the error bellow :
[code]
solution for me was
adding dns for my system  /etc/hosts
127.0.0.1 localhost

thanks for the support for help.
---------------------

**Environment**:
- hasura CLI version:  v0.2.56

[2018-05-07 00:41] coco98 opened #549 "Don't allow spaces in schema element names to prevent generated graphql schema error"
/kind bug
Create a relationship with a space in the name. Head to API explorer for GraphQL.

"Error parsing GraphQL schema" will show up.

[2018-05-07 07:30] praveenweb commented on #540
Add Authorization Token on the api-console now adds X-Hasura-Role admin.

@rikinsk - Has the docs been updated?

[2018-05-07 07:37] praveenweb commented on #549
Fixed in console.
@0x777 - Do you also want to add server side validation to cater to API based usage?

[2018-05-07 16:09] coco98 commented on #549
@praveenweb Has this been released also?

[2018-05-08 10:31] ecthiender commented on #547
@shark-h where do you want this feature to be? I'm assuming Hasura Auth. There is already an open issue for it hasura/platform#128.

If you meant something, re-open it with more details.

[2018-05-08 10:31] #547 closed

[2018-05-08 12:55] ecthiender commented on #489
@karthikvt26 can you confirm if this is fixed and close?

[2018-05-08 12:57] ecthiender commented on #108
This is fixed. It is called `auth_token` and "auth/authorization token" everywhere now. @rikinsk please to take note.

[2018-05-08 12:57] #108 closed

[2018-05-08 14:16] Hyperclaw79 commented on #489
Alright, thank you.

[2018-05-08 14:16] #489 closed

[2018-05-09 05:14] praveenweb commented on #549
@coco98 - Just released. From now on, when you are adding table/column/relationship names on the api-console, it should conform to the [GraphQL naming spec](http://facebook.github.io/graphql/October2016/#sec-Names).

[2018-05-10 10:38] Varshit07 opened #550 "Login/Signup on Hasura Dashboard"
/kind bug

Bug report
----------

**What terms/phrases did you search for on this github repo before filing this issue**
login, signup, GitHub, Google, connect

**What happened**:
On Hasura's login page, if you click on Login then to connect with google or github, it says Log in with GitHub and Log in with Google..That is fine
![2018-05-10_li](https://user-images.githubusercontent.com/20387045/398

[2018-05-16 11:16] checkraiser opened #551 "Add Oauth2 provider for hasura Auth service"
/kind feature
Add Oauth2 provider for hasura Auth service

[2018-05-20 10:02] MuLx10 opened #552 "Unable to login"
![screenshot from 2018-05-20 15-27-55](https://user-images.githubusercontent.com/23444642/40277818-f56f1a5c-5c42-11e8-9d07-8c3abd6fb90c.png)

[2018-05-21 18:10] ecthiender commented on #540
@rikinsk @praveenweb please follow up on this and close this issue accordingly.

[2018-05-28 11:42] rikinsk opened #553 "Add concept of "organisation""
Allow creation of organisations to which multiple devs can be added to handle shared billing, etc. at org level

[2018-05-28 11:45] rikinsk opened #554 "Display infra code/specs used to create a cluster"
Show the infra code/specs used to create a cluster on the dashboard clusters page to allow easy reference

[2018-05-30 03:38] praveenweb commented on #466
Duplicate of #318 - Closing this.

[2018-05-30 03:38] #466 closed

[2018-05-30 05:56] MuLx10 commented on #552
@praveenweb it's already up to date

[2018-06-11 09:32] nukinuki opened #555 "Mailgun provider for notify service"
/kind feature

Feature request
---------------

**What is the feature you would like to have?**

Mailgun integration with notify microservice.

**Describe your application use case that would benefit from this feature**

SMTP currently doesn't work on DigitalOcean. Sparkpost has strict domain validation policies, hard to use in dev mode. Mailgun offers 10k emails per month on free accounts and sim